
/* country */
/* ==================================================== */


.section-schools {
    // padding-top: 0;
    padding-bottom: 0;

    h2 {
        text-align: center;
    }
}

.section-school-list {
    // padding: 0;
}

.section-school-list-select {
    @extend %bg-white;
    padding: 0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);

    &:hover {
        @extend %bg-grey-gh;
        border: none;

        p {
            @extend %text-grey-mdk;
            padding: 0;
        }
    }
}

.section-school-list-select.country-list-item {
    &:hover {
        @extend %bg-blue-dk;

        h4 {
            @extend %text-orange-lt;
        }

        p {
            @extend %text-white;
        }

        .button {
            @extend .bg-orange-lt;
        }
    }
}

.section-school-list-select img {
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}

.section-school-list-select .school-summary {
    padding: 2rem;
}

.section-school-list-select p {
    @include font-size(14px);
    @include line-height(24px);
    margin: 0;
    padding: 0;
    color: $grey-dk;

    &:not(:first-of-type) {
        margin-top: 16px;
    }
}

.section-school-list-select p.school-contact {
    @include font-size(13px);
    color: $grey-mdk;
}

.section-school-list-select .icon-heading {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    align-items: center;
    margin-bottom: 0; // 4px;
}

.section-school-list-select span.icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.section-school-list-select svg path {
    fill: $blue-dk;
}

.section-school-list-select span.icon-label {
    margin: 4px 0 0;
    padding: 0;
    color: $blue-dk;
}

.section-school-list-select .button {
    margin: 0;
}


.section-video-side {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @extend %columns;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.video-side-embed {
    @extend %column-8;

    .media {
        border-radius: 13px; // 8px;
    }

    iframe,
    embed {
        // border-radius: 8px;
    }

    .section-video-side-left & {
        order: 1;
    }

    .section-video-side-right & {
        order: 2;
    }
}

.video-side-text {
    @extend %column-4;

    .section-video-side-left & {
        order: 2;
        margin-left: 3rem;
    }

    .section-video-side-right & {
        order: 1;
        margin-right: 3rem;
    }

    h3 {
        // @extend %text-blue-dk;
    }
}



