
/* admissions */
/* ==================================================== */


.section-admissions-small {
    padding-top: 0;
    padding-bottom: 0;
}


.section-admissions .card {
    $columns: 5;
    // $gutter: var(--space-1);
    $gutter: 1rem;
    $gutter-total: calc(#{$columns - 1} * #{$gutter});
    $col-total: calc(100% - #{$gutter-total});

    @extend %column;

    &:not(:first-of-type) {
        margin-top: $gutter;
    }

    @include break-point(laptop) {
        width: calc(#{$col-total} / #{$columns});
        max-width: calc(#{$col-total} / #{$columns});

        &:not(:first-of-type) {
            margin-top: unset;
            margin-left: $gutter;
        }
    }
}

.card-admissions-small {
    margin-bottom: 0;
    text-align: left;

    &:hover img {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    }
}

.card-admissions-small img {
    border-radius: 8px;
}

.card-admissions-small figcaption {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    align-items: center;
    margin-top: 1rem;
}

.admissions-number {
    @include title(bold);
    @include font-size(20px);
    width: 36px;
    height: 36px;
    margin: 0 1rem 0 0;
    line-height: 36px;
    text-align: center;
    @extend %text-white;
    @extend %bg-grey-lt;
    border-radius: 50%;

    .card-admissions-small:nth-of-type(1) & {
        @extend %bg-blue-lt;
    }

    .card-admissions-small:nth-of-type(2) & {
        @extend %bg-green-lt;
    }

    .card-admissions-small:nth-of-type(3) & {
        @extend %bg-orange-lt;
    }

    .card-admissions-small:nth-of-type(4) & {
        @extend %bg-raspberry;
    }
}

.admissions-title {
    @include title(regular);
    @extend %text-grey-mdk;
    line-height: 1;

    .card-admissions-small:hover & {
        @extend %text-blue-dk;
    }
}
