
/* header */
/* ==================================================== */


.page-template-admissions-process .page-header {
	position: relative;
    margin-bottom: 2rem;
}

.page-template-front-page .header-section {
	background: transparent;
}

.page-template-front-page .header-section.stuck {
	background: $white;
}

.page-template-front-page .logo-text polygon,
.page-template-front-page .logo-text path,
.page-template-front-page .logo-text rect {
	fill: $white;
}

.page-template-front-page .header-section.stuck .logo-text polygon,
.page-template-front-page .header-section.stuck .logo-text path,
.page-template-front-page .header-section.stuck .logo-text rect {
	fill: $blue-dk;
}

.menu {
	margin-left: 4.5rem;
}

.menu-item:not(:first-of-type) {
	margin-left: 2rem;
}

.page-template-front-page .menu-item a {
    @include title(regular);
    @include font-size(16px);
    @include line-height(24px);
    @extend %text-white;
}

.page-template-front-page .header-section.stuck .menu-item a {
	@extend %text-blue-dk;
}

.page-template-front-page .menu-item-divider {
	display: none;
}

.header-apply {
	@extend .button-green-lt;
}

.page-template-front-page .country-switch-container,
.page-template-admissions-process .country-switch-container {
	width: auto;
	position: relative;
	margin-left: 2rem;
	padding: 0 !important;
	margin-right: 0;
}

.page-template-front-page .country .text,
.page-template-admissions-process .text {
	background: 0 0;
	display: none;
}

#icons-search {
    @include flexbox();
	align-content: center;
	margin-left: 2rem;
}

