
/* team */
/* ==================================================== */


.section-about-statements {
    padding-top: 0;
    padding-bottom: 0;
    @extend %columns;
}

.section-about-statements-item {
    $gut-state: 61px;

    @include break-point(tablet) {
        &:not(:first-of-type) {
            margin-left: $gut-state;
        }
    }

    @include break-point(laptop) {
        flex: 4;
        flex-basis: calc((100% - calc(#{$gut-state} * 2)) / 3);
        max-width: calc((100% - calc(#{$gut-state} * 2)) / 3);

        &:nth-child(2n+3) {
            margin-left: $gut-state;
        }

        &:nth-child(n+3) {
            margin-top: 0;
        }

        &:nth-child(3n+4) {
            margin-left: 0;
        }

        &:nth-child(n+4) {
            margin-top: $gut-state;
        }
    }

    img {
        margin-bottom: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    }

    figcaption {

    }

    h4 {
        margin-bottom: 1rem;
    }
    
    p {

    }

    a {
        @include title(medium);
        display: block;
        margin-top: 0.5rem;
        color: $blue-lt;
    }
}




.section-culture-gallery {
    padding-top: 0;
    padding-bottom: 0;

    & > h2 {
        margin-bottom: 1rem;
    }

    & > p {
        @include title(light);
        max-width: 1024px;
        margin: 0 auto 2.5rem;
        text-align: center;
    }
}

.section-culture-gallery-inner {
    // @extend %columns;
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
}

.section-culture-gallery-inner-ghost {
    content: none;
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    color: transparent;
    background: transparent;
    border: 0;
    outline: 0;
}

.section-culture-gallery-actual.slick-dotted.slick-slider {
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;

    figure {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        padding: 0;
        border: 0;
        outline: 0;
    }

    img {
        width: calc(50% - (61px / 2));
        height: auto;
        height: inherit;
        border-radius: 16px;
        box-shadow: none;
    }

    figcaption {
        @include flexbox();
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        width: calc(50% - (61px / 2));
        margin-left: auto;
    }

    .principle-text {
        margin-bottom: auto;
    }

    h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
        letter-spacing: 2px;
        color: $blue-lt;
    }

    h3 {
        margin-bottom: 1.5rem;
    }

    p {
        @include title(light);
    }

    .slick-dots {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        width: calc(50% - (61px / 2));
        margin-left: calc(50% - (61px / 2) + 61px);
        margin-bottom: 2rem;

        li:before,
        button {
            content: none;
            display: none;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            color: transparent;
            background: transparent;
            border: 0;
            outline: 0;
        }
    
        li {
            $gut-dot: 36px;

            width: calc(100%/3);
            margin: 0;
            display: block;
            overflow: unset;
            height: auto;
            text-align: left;
            text-indent: 0;

            // &:nth-child(2n+3) {
            //     margin-left: $gut-dot;
            // }

            &:nth-child(n+3) {
                margin-top: 0;
            }

            &:nth-child(3n+4) {
                margin-left: 0;
            }

            &:nth-child(n+4) {
                margin-top: $gut-dot;
            }
        }

        img {
            width: 102px;
            height: 102px;
            border-radius: 16px;
            border: 6px solid transparent;
            box-shadow: 0 4px 8px rgba($grey-lt, 0.08);
        }

        h5 {
            @include title(medium);
            margin-top: 0.25rem;
        }

        li:hover {
            img {
                border-color: lighten($grey-gh, 5%);
                box-shadow: 0 4px 8px rgba($grey-lt, 0.08);
            }

            h5 {
                color: $blue-lt;
            }
        }

        li.slick-active {
            img {
                border-color: $orange-lt;
                box-shadow: 0 4px 8px rgba($orange-lt, 0.08);
            }

            h5 {
                color: $blue-dk;
            }
        }
    }
}

