
/* header */
/* ==================================================== */


main {
    margin-top: 1rem;

    .page-template-front-page &,
    .page-template-2019-school-home-page & {
        margin-top: 0;
    }
}

.page-header {
    transition: $ease;
}

.header-section {
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .page-header {
        position: relative;

        // &.stuck,
        .page-template-front-page &,
        .page-template-2019-school-home-page & {
            position: fixed;
        }

        &.stuck {
            position: fixed;
            background: $white;
        }
    }

    .menu-item-divider{
        display: none;
    }

    .header-apply {
        color: $white;
        background: $green-lt;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
        $p: 14px;
        @include font-size(14px);
        @include letter-spacing(small);
        padding: $p calc(#{$p} * 2);
        letter-spacing: 2px;
        border-radius: 4px;

        &:hover {
            background: $blue-dk;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
        }
    }
}

.page-template-admissions-process .page-header {
	position: relative;
    margin-bottom: 2rem;
}

.page-template-front-page .header-section,
.page-template-2019-school-home-page .header-section {
	background: transparent;
}

.page-template-front-page .header-section.stuck {
	// background: $white;
}

.page-template-front-page,
.page-template-2019-school-home-page {
    .logo-text polygon,
    .logo-text path,
    .logo-text rect {
        fill: $white;
    }
}

// .page-template-front-page,
// .page-template-2019-school-home-page {
//     .logo-text polygon,
//     .logo-text path,
//     .logo-text rect {
//         fill: $blue-dk;
//     }
// }

.header-section.stuck {
    .logo-text polygon,
    .logo-text path,
    .logo-text rect {
        fill: $blue-dk;
    }
}

.menu {
	margin-left: 4.5rem;
}

.menu-item:not(:first-of-type) {
	margin-left: 2rem;
}

.menu-item.current-menu-ancestor:after,
.menu-item.current-menu-parent:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -2px;
    display: block;
    width: 32px;
    height: 6px;
    margin: 0;
    background: $green-lt;
    border-radius: 6px;
}

.menu-item a {
    @include title(regular);
    @include font-size(14px);
    @include line-height(24px);
    color: $grey-mdk;

    &:hover {
        color: $blue-lt;
    }

    .page-template-front-page &,
    .page-template-2019-school-home-page & {
        color: $white;
    }

    .page-template-front-page .header-section.stuck &,
    .page-template-2019-school-home-page .header-section.stuck & {
        color: $grey-mdk;

        &:hover {
            color: $blue-lt;
        }
    }
}

.menu-item.current-menu-ancestor>a,
.menu-item.current-menu-parent>a,
.menu-item.current-page-ancestor>a,
.menu-item.current-page-parent>a {
    @include title(medium);
    color: $grey-dk;
    // color: $raspberry;

    .page-template-front-page &,
    .page-template-2019-school-home-page & {
        color: $blue-lt;
    }
}



// .page-template-front-page .header-section.stuck .menu-item a {
// 	@extend %text-blue-dk;
// }

.page-template-front-page .menu-item-divider {
	display: none;
}



.page-header .menu>.menu-item:hover .sub-menu {
    top: 28px;
    background: $white;
    border: none;
    padding: 8px 0;
    border-radius: 4px;
}

.page-header .sub-menu .menu-item:not(:first-of-type) {
    border-top: none;
}

.page-header .sub-menu .menu-item a {
    color: $grey-mdk;
    padding: 12px 16px 9px;
}

.page-header .sub-menu .menu-item a:hover {
    color: $green-lt;
}


.header-apply {
	@extend .button;
    @extend .button-default;
    @extend .button-green-lt;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.page-template-front-page .country-switch-container,
.page-template-admissions-process .country-switch-container {
	width: auto;
	position: relative;
	margin-left: 2rem;
	padding: 0 !important;
	margin-right: 0;
}

.page-template-front-page .country .text,
.page-template-admissions-process .text {
	background: 0 0;
	display: none;
}

#icons-search {
    @include flexbox();
	align-content: center;
	margin-left: 2rem;
}

.modal-control.menu path,
.modal-control.open path {
    fill: $grey-mdk;

    &:hover {
        fill: $orange-lt;
    }

    .page-template-front-page &,
    .page-template-2019-school-home-page & {
        fill: $white;

        &:hover {
            fill: $orange-lt;
        }
    }

    .stuck & {
        fill: $grey-mdk;
    }
}



.location-switch {
    width: 36px;
    // overflow: hidden;
    height: 36px;
    margin-left: 32px;
}

.location-switch-container {
    a.drop-list-selected,
    a.drop-list-option {
        width: 36px;
        height: 36px;
        overflow: hidden;
        border-radius: 50% !important;
        padding: 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    svg {
        width: 150%;
        height: 100%;
        margin-left: -25%;
        padding: 0 !important;
    }
}

.location-switch-container:hover .drop-list-option {
    display: block;
    margin: 0.75rem 0 0;
}

.location-switch-container .drop-list-selected:hover,
.location-switch-container .drop-list-option:hover {
    box-shadow: 0 8px 16px rgba($blue-dk, 0.4);
}


