
/* admissions */
/* ==================================================== */


.section-admissions-small,
.section-admissions-large {
    padding-top: 0;
    padding-bottom: 0;
}


.section-admissions .card {
    $columns: 5;
    // $gutter: var(--space-1);
    $gutter: 1rem;
    $gutter-total: calc(#{$columns - 1} * #{$gutter});
    $col-total: calc(100% - #{$gutter-total});

    @extend %column;

    &:not(:first-of-type) {
        margin-top: $gutter;
    }

    @include break-point(laptop) {
        width: calc(#{$col-total} / #{$columns});
        max-width: calc(#{$col-total} / #{$columns});

        &:not(:first-of-type) {
            margin-top: unset;
            margin-left: $gutter;
        }
    }
}

.card-admissions-small {
    margin-bottom: 0;
    text-align: left;

    &:hover img {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    }
}

.card-admissions-small img {
    border-radius: 8px;
}

.card-admissions-small figcaption {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    align-items: center;
    margin-top: 1rem;
}

.admissions-number {
    @include title(bold);
    @include font-size(20px);
    width: 36px;
    height: 36px;
    margin: 0 1rem 0 0;
    line-height: 36px;
    text-align: center;
    @extend %text-white;
    @extend %bg-grey-lt;
    border-radius: 50%;

    .card-admissions-small:nth-of-type(1) & {
        @extend %bg-blue-lt;
    }

    .card-admissions-small:nth-of-type(2) & {
        @extend %bg-green-lt;
    }

    .card-admissions-small:nth-of-type(3) & {
        @extend %bg-orange-lt;
    }

    .card-admissions-small:nth-of-type(4) & {
        @extend %bg-raspberry;
    }
}

.admissions-title {
    @include title(regular);
    @extend %text-grey-mdk;
    line-height: 1;

    .card-admissions-small:hover & {
        @extend %text-blue-dk;
    }
}





.updates-2019 .section-admissions-large .card-container {
    @include flex-wrap(nowrap);
	align-items: stretch;
	// min-height: 386px;
}

.card-admissions-large {
    position: relative;
    // height: 100%;
    margin-bottom: 0;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;

    &:hover img {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    }
}

.card-admissions-large:first-of-type {
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
	padding: 1.5rem;
    @extend %bg-grey-lt;

    h4 {
        margin-top: auto;
        margin-bottom: 1rem;
    }

    p {
        @include title(light);
        @include font-size(14px);
        @include line-height(20px);
        color: $grey-mdk;
    }
}

.card-admissions-large img {
    border-radius: 8px;
}

.card-admissions-large figcaption {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0;
    padding: 1.5rem;
    background: linear-gradient(
        180deg,
        rgba($black, 0.00) 0%,
        rgba($black, 0.25) 45%,
        rgba($black, 0.3) 50%,
        rgba($black, 0.75) 75%,
        rgba($black, 0.8) 80%,
        rgba($black, 0.9) 90%,
        rgba($black, 1) 100%
    );
}

.card-admissions-large .admissions-number {
    @include title(bold);
    @include font-size(20px);
    width: 36px;
    height: 36px;
    // margin: 0 1rem 0 0;
    margin: 0 auto auto 0;
    line-height: 36px;
    text-align: center;
    @extend %text-white;
    @extend %bg-grey-lt;
    border-radius: 50%;
}

.card-admissions-large:nth-of-type(2) .admissions-number {
    @extend %bg-blue-lt;
}

.card-admissions-large:nth-of-type(3) .admissions-number {
    @extend %bg-green-lt;
}

.card-admissions-large:nth-of-type(4) .admissions-number {
    @extend %bg-orange-lt;
}

.card-admissions-large:nth-of-type(5) .admissions-number {
    @extend %bg-raspberry;
}

.card-admissions-large .admissions-title {
    // @include title(bold);
    @include title(medium);
    // @include font-size(18px);
    @include font-size(16px);
    @include line-height(24px);
    @extend %text-white;
    line-height: 1;
    margin: auto auto 0 0;
}

.card-admissions-large .admissions-description {
    color: $white;
    margin-top: 1rem;
    display: none;
}

.card-admissions-large .admissions-description p {
    @include title(light);
    @include font-size(14px);
    @include line-height(20px);
    color: $white;
}


.card-admissions-large:not(:first-of-type):hover {
    .admissions-description {
        display: block;
    }

    &:nth-of-type(1) figcaption {
        @extend %bg-blue-lt;
    }

    &:nth-of-type(2) figcaption {
        @extend %bg-green-lt;
    }

    &:nth-of-type(3) figcaption {
        @extend %bg-orange-lt;
    }

    &:nth-of-type(4) figcaption {
        @extend %bg-raspberry;
    }
}
