
/* banner */
/* ==================================================== */


.section-banner {
    margin-bottom: calc(92px + 1.5rem);
    padding-top: 0;
    padding-bottom: 0;
}

.section-banner figure {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
    height: 500px;
    border-radius: 8px;
}

.section-banner img {
    height: 552px;
    border-radius: 8px;
}

.section-banner figcaption {
    margin-top: auto;
    background: $white;
    padding: 1.5rem;
    padding-left: 0;
    width: 92%;
    border-radius: 0 12px 0 0;
    position: absolute;
    bottom: -3.25rem;
}

.section-banner figcaption.flex-row {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;

    .banner-social {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        align-items: center;
        margin-left: auto;
    }

    span {
        @include title(regular);
        @include font-size(14px); // (16px);
        @include line-height(1);
        margin: 0;
        color: $grey-mdk;
    }

    a {
        margin-left: 12px; // 16px;
        line-height: 1;

        &:first-of-type {
            margin-left: 16px;
        }

        .page-template-2019-blog-archive-page & {
            position: relative;
            top: 2px;
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
    }

    path {
        fill: $blue-dk;
    }
}

.section-banner h1 {
    @include font-size(48px);
    @include line-height(56px);
    max-width: 1024px;
    margin-bottom: 1rem;

    .page-template-2019-blog-archive-page & {
        display: inline;
        margin-right: auto;
        // margin-bottom: 0;
    }
}

.section-banner p {
    @include title(light);
    @include font-size(16px);
    @include line-height(1.55);
    max-width: 1024px;
    color: $grey-mdk;
}




// country page banners 

.section-banner-full {
    margin: 0;
    padding: 0;
}

.section-banner-full figure {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
}

.section-banner-full img {
    border-radius: 0px;
}

.section-banner-full figcaption {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-items: center;
    position: absolute;
    left: 4rem;
    max-width: 45%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-banner-full figcaption div {
    margin-top: auto;
    // margin-bottom: auto;
    margin-bottom: 5rem;
}

.section-banner-full h1 {
    @include title(black);
    // @include font-size(64px);
    // @include line-height(84px);
    @include font-size(56px);
    @include line-height(68px);
    margin-bottom: 2rem;
    color: $white;
}

.section-banner-full p {
    @include title(regular);
    // @include font-size(24px);
    // @include line-height(36px);
    @include font-size(20px);
    @include line-height(28px);
    color: $white;
}




// school page banners

.section-school-profile {
    margin-bottom: 72px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: $grey-gh;
}

.section-school-profile-items {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
}

.section-school-profile-item {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
    // align-items: flex-end;

    &:not(:last-of-type) {
        margin-right: 3rem;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    span {
        @include title(regular);
        @include font-size(14px); // (16px);
        @include line-height(1);
        margin: 0 0 0 12px;
        color: $grey-mdk;
    }
}

.section-school-profile-item-open-days {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
    margin-left: auto;

    span {
        margin-right: 0.5rem;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $raspberry;
    }

    path {
        fill: $blue-dk;
    }
}






// thank you page banners
.page-template-2019-thanks-newsletter main,
.page-template-2019-thanks-application main {
    margin: 0;
}

.page-template-2019-thanks-newsletter main .updates-2019:last-of-type,
.page-template-2019-thanks-application main .updates-2019:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.section-banner-thanks {
    margin: 0;
    padding: 0;
}

.section-banner-thanks figure {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
}

.section-banner-thanks img {
    border-radius: 0px;
}

.section-banner-thanks figcaption {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    // align-items: center;
    position: absolute;
    left: 4rem;
    width: 50%;
    max-width: 1024px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-banner-thanks figcaption div {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    height: 100%;
    padding: 4rem 0;
}

.section-banner-thanks a.logo {
    max-width: 20rem;
    max-height: 92px;
    margin-right: auto;
    margin-bottom: auto;

    .logo-text path,
    .logo-text rect,
    .logo-text polygon {
        fill: $white;
    }
}

.section-banner-thanks h1 {
    @include title(black);
    @include font-size(56px);
    @include line-height(68px);
    margin-top: auto;
    margin-bottom: 2rem;
    color: $white;
}

.section-banner-thanks p {
    @include title(regular);
    @include font-size(16px);
    @include line-height(24px);
    color: $white;
}

.section-banner-thanks .button {
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 4rem;
}

.section-banner-thanks figcaption.flex-row {
    .banner-social {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        align-items: center;
        width: 75%;
        height: unset;
        margin: 2rem auto 0 0;
        padding: unset;
    }

    .banner-social span {
        @include title(regular);
        @include font-size(14px); // (16px);
        @include line-height(1);
        margin: 0;
        color: $blue-lt;
    }

    .banner-social a {
        margin-right: unset;
        margin-left: 12px; // 16px;
        line-height: 1;

        &:first-of-type {
            margin-left: 16px;
        }
    }

    .banner-social a.blog-link {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        align-items: center;
        margin-left: auto;

        span {
            @include title(regular);
            @include font-size(14px); // (16px);
            @include line-height(1);
            margin-right: 12px;
            color: $blue-lt;
        }
    }

    .banner-social path {
        fill: $white;
    }
}

