
/* footer */
/* ==================================================== */


// .updates-2019 {
    .page-footer {
        padding-top: 0;
        border-top: none;
    }

    .footer-box-main-item {
        @include title(bold);
        @include font-size(16px);
        @include line-height(20px);
        @extend %text-blue-dk;
        margin-bottom: 16px;
        letter-spacing: 3px;
        opacity: 1;
    }

    .footer-box-main-item:hover {
        @extend %text-orange-lt;
    }

    .footer-box .sub-menu .footer-box-item {
        @include title(light);
        @include font-size(14px);
        @include line-height(34px);
        @extend %text-grey-mdk;
    }

    .footer-box .sub-menu .footer-box-item:hover {
        @extend %text-blue-lt;
    }

    .footer-social {
        margin-top: 48px;
    }

    .footer-social a {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);

        &:not(:first-of-type) {
            margin-top: 12px;
        }
    }

    .footer-social svg {
        order: 1;
    }

    .footer-social path {
        fill: $blue-dk;
    }

    .footer-social .social-text {
        @include title(light);
        @include font-size(14px);
        @include line-height(24px);
        @extend %text-grey-mdk;
        margin-left: 1rem;
        order: 2;
    }

    .footer-menu-aux-item-copyright {
        @include title(light);
        @include font-size(10px);
        @include line-height(16px);
        @extend %text-grey-mdk;
        margin-top: 48px;
        margin-left: 0;
        text-align: left;
    }

    .footer-menu-aux-item-copyright:hover {
        @extend %text-grey-mdk;
    }
// }


