
/* banner */
/* ==================================================== */


.section-banner {
    margin-bottom: calc(92px + 1.5rem);
    padding-top: 0;
    padding-bottom: 0;
}

.section-banner figure {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
    height: 500px;
    border-radius: 8px;
}

.section-banner img {
    height: 552px;
    border-radius: 8px;
}

.section-banner figcaption {
    margin-top: auto;
    background: $white;
    padding: 1.5rem;
    padding-left: 0;
    width: 92%;
    border-radius: 0 12px 0 0;
    position: absolute;
    bottom: -3.25rem;
}

.section-banner figcaption.flex-row {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;

    .banner-social {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        align-items: center;
        margin-left: auto;
    }

    span {
        @include title(regular);
        @include font-size(14px); // (16px);
        @include line-height(1);
        margin: 0;
        color: $grey-mdk;
    }

    a {
        margin-left: 12px; // 16px;
        line-height: 1;

        &:first-of-type {
            margin-left: 16px;
        }
    }

    path {
        fill: $blue-dk;
    }
}

.section-banner h1 {
    @include font-size(48px);
    @include line-height(56px);
    max-width: 1024px;
    margin-bottom: 1rem;
}

.section-banner p {
    max-width: 1024px;
}





.section-banner-full {
    margin: 0;
    padding: 0;
}

.section-banner-full figure {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
}

.section-banner-full img {
    border-radius: 0px;
}

.section-banner-full figcaption {
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-items: center;
    position: absolute;
    left: 4rem;
    max-width: 45%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-banner-full figcaption div {
    margin-top: auto;
    margin-bottom: auto;
}

.section-banner-full h1 {
    @include title(black);
    @include font-size(64px);
    @include line-height(84px);
    margin-bottom: 2rem;
    color: $white;
}

.section-banner-full p {
    @include title(regular);
    @include font-size(24px);
    @include line-height(36px);
    color: $white;
}





.section-school-profile {
    margin-bottom: 72px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: $grey-gh;
}

.section-school-profile-items {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
}

.section-school-profile-item {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
    // align-items: flex-end;

    &:not(:last-of-type) {
        margin-right: 3rem;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    span {
        @include title(regular);
        @include font-size(14px); // (16px);
        @include line-height(1);
        margin: 0 0 0 12px;
        color: $grey-mdk;
    }
}

.section-school-profile-item-open-days {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
	align-items: center;
    margin-left: auto;

    span {
        margin-right: 0.5rem;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $raspberry;
    }

    path {
        fill: $blue-dk;
    }
}

.section-school-profile-item .profile-item-icon {
    
}

.section-school-profile-item p {
    
}

