
/* blog */
/* ==================================================== */


.section-open-days {
    padding-top: 0;
    padding-bottom: 0;
    @extend %columns;
}

.section-open-day-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;

    &:not(:first-of-type) {
        margin-top: 48px;
        margin-left: 0;
    }

    @include break-point(tablet) {
        // &:not(:first-of-type) {
        //     margin-left: $gut-state;
        // }
    }

    @include break-point(laptop) {
        // flex: 4;
        // flex-basis: calc((100% - calc(#{$gut-state} * 2)) / 3);
        // max-width: calc((100% - calc(#{$gut-state} * 2)) / 3);

        // &:nth-child(2n+3) {
        //     margin-left: $gut-state;
        // }

        // &:nth-child(n+3) {
        //     margin-top: 0;
        // }

        // &:nth-child(3n+4) {
        //     margin-left: 0;
        // }

        // &:nth-child(n+4) {
        //     margin-top: $gut-state;
        // }
    }

    a.open-day-img {
        width: 35%;
        margin-right: 61px;
    }

    img {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    }

    figcaption {
        width: 60%;
        margin-left: auto;
    }

    h4 {
        margin-bottom: 1rem;

        a {
            color: $blue-dk;

            &:hover {
                color: $orange-lt;
            }
        }
    }

    .event-list-item-meta {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        margin-top: 1rem;
    }

    .open-day-event-meta {
        width: auto;
    }

    .open-day-event-meta:not(:first-of-type) {
        width: auto;
        margin-right: auto;
        margin-left: 3rem;
    }
}



