<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /kenya/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /kenya/index.php [L]
</IfModule>
