
/* Headings */
/* ==================================================== */


h1,
h2,
h3 {
	@include copy(bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include title(bold);
	@include line-height(1.35);
	clear: both;
	display: block;
	margin: 1rem 0 0.5rem;
	//margin: 1.414em 0 0.5em;
	//line-height :1.5;
	/*margin-top: 1rem;*/
}


h1 {
	@include font-size(40px);
	max-width: 628px;
	color: lighten($blue, 10%);
	.page-article & {
		max-width: 90%;
	}

	.hero-half.stuck & {
		font-size: 2.5rem;
		text-shadow: unset;
	}

	.section-navigation & {
	 	@include title(semi);
	 	@include font-size(30px);
	 	margin-bottom: 1rem;
	}
	&.full-width-heading  {
		text-align: center;
		margin-top: 0;
	}
	.section-school-list-select & {
		text-align: center;
		margin-top: 0;
	}
}


h2 {
	@include font-size(28px);
	@include title(bold);
	color: lighten($blue, 5%);
}


h3 {
	@include font-size(24px);
	color: $blue;
	@include title(semi);

	.content-box & {
		color: $white;
		max-width: 728px;
		font-size: 2.5rem;
		line-height: 1.125;
	}

	.section-history & {
		line-height: 1.125;
		margin: 0.5rem 0px 1.25rem;
		font-size: 2.5rem;
		max-width: 728px;
	}

	.toggle-list & {
		@include copy(regular);
		@include font-size(22px);
	}

	.learning-approach & {
		text-align: center;
		@include font-size(21px);
		@include copy(semi);
	}
}


h4 {
	@include font-size(20px);
	color: $dark-grey;
	@include title(semi);
	.content-box & {
		color: $white;
		max-width: 598px;
	}

	.section-history & {
		color: $blue;
		font-size: 1.25rem;
	}

	.recent-reports & {
		//color: $dark;
	}

	.person & {
		//color: $blue;
		margin-bottom: 1rem;
	}
}


h5 {
	@include font-size(18px);
	color: darken($dark-grey, 10%);
	.recent-reports & {
		margin-bottom: 1rem;
		color: $dark-grey;
	}

	.person & {
		margin-bottom: 0.25rem;
	}
}


h6 {
	@include title(bold);
	@include font-size(16px);
	color: darken($dark-grey, 15%);
}
