
/* Paragraphs */
/* ==================================================== */


p {
	position: relative;
	color: $dark-grey;
	@include font-size(18px);
	line-height: 1.6;


	&:not(:first-of-type) {

	}

	&:only-of-type {

	}

	&:not(:first-of-type) {

	}

	.toggle-list &,
	.general-content > .toggle-list & {
		@include font-size(18px);
	}

	.learning-approach & {
		@include font-size(16px);
		padding:  calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 1);
		text-align: center;
	}

	@include break-point(tablet) {

	}

	@include break-point(laptop) {

	}

	@include break-point(desktop) {

	}
}


p + p {
	margin-top: calc(#{$space-tiny} * 2);
}
