
/* Headings */
/* ==================================================== */


h1,
h2,
h3,
h4,
h5,
h6 {
	// @include line-height(1);
	@include line-height(1.25);
	clear: both;
	display: block;
}


h1 {
	@include copy(bold);
}


h2,
h3 {
	@include copy(medium);
}


// h3,
h4,
h5,
h6 {
	@include copy(bold);
}


h1 {
	@include font-size(48px);
	// max-width: 628px;
	color: lighten($blue, 10%);

	.page-article & {
		max-width: 90%;
	}

	.hero-half.stuck & {
		font-size: 2.5rem;
		text-shadow: unset;
	}

	&.full-width-heading  {
		// @include copy(medium);
	 	// @include font-size(30px);
	 	margin-top: 2rem;
		text-align: left;

		@include break-point(tablet) {
			margin-top: 2rem;
			text-align: left;
		}

		@include break-point(laptop) {
			margin-top: 0;
			text-align: left;
		}

		@include break-point(desktop) {
			margin-top: 0;
			text-align: center;
		}
	}

	.section-school-list-select & {
		margin-top: -0.5rem;
		margin-bottom: 0;
		// margin-left: 0.83em;//chrome fix
		line-height: 1;
		text-align: center;

		@include break-point(tablet) {
			margin-top: 0;
			margin-left: 0;
			line-height: 1.5;
		}

		@include break-point(laptop) {
			margin-top: 0;
			margin-bottom: 0.5rem;
			margin-left: 0;
			line-height: 0.65;
		}

		@include break-point(desktop) {
			margin-top: 0;
			margin-left: 0;
			line-height: 0.75;
		}
	}

	.article-header & {
		// @include line-height(1.25);
	}
}


h2 {
	@include font-size(32px);
	// color: $blue;
	color: lighten($blue, 10%);

	.search-results & {
		// @include copy(bold);
		// @include font-size(32px);
	}

	.article-aside & {
		margin-top: 0;
	}

	.education-stage & {
		margin-bottom: calc(#{$space-tiny} * 1);
	}

	.section-navigation & {
	 	// @include copy(medium);
	 	// @include font-size(30px);
		margin-bottom: 0.5rem;
		// line-height: 1.15;

		&.current {
			// color: $dark-grey;
			// color: lighten($dark-grey, 10%);
		}

		// @include break-point(tablet) {
		// 	margin-bottom: 1rem;
		// }

		@include break-point(laptop) {
			margin-bottom: calc(#{$space-tiny} * 1);
		}
	}
}


h3 {
	@include font-size(24px);
	// color: $blue;
	color: lighten($blue, 10%);

	.content-box & {
		max-width: 728px;
		// font-size: 2.5rem;
		// line-height: 1.125;
		// color: $white;
	}

	.section-history & {
		max-width: 728px;
		margin: 0.5rem 0px 1.25rem;
		// font-size: 2.5rem;
		// line-height: 1.125;
	}

	.toggle-list & {
		// @include copy(regular);
		// @include font-size(20px);
	}

	.learning-approach & {
		// @include copy(semi);
		// @include font-size(21px);
		margin-bottom: calc(#{$space-tiny} * 1);
		text-align: center;
	}

	.article-aside & {
		margin-top: 0;
	}
}


h4 {
	@include font-size(20px);
	
	.content-box & {
		max-width: 598px;
		// color: $white;
	}

	.section-history & {
		font-size: 1.25rem;
		// color: $blue;
	}

	.recent-reports & {
		//color: $dark;
	}

	.person & {
		//color: $blue;
		margin-bottom: 1rem;
	}
}


h5 {
	@include font-size(18px);

	.recent-reports & {
		margin-bottom: 1rem;
		// color: $dark-grey;
	}

	.person & {
		margin-bottom: 0.25rem;
	}
}


h6 {
	@include font-size(16px);
}


