
/* Paragraphs */
/* ==================================================== */


p {
	@include font-size(18px);
	@include line-height(1.35);
	position: relative;
	// color: $dark-grey;

	&:not(:first-of-type) {

	}

	&:only-of-type {

	}

	&:not(:first-of-type) {

	}

	.toggle-list &,
	.general-content > .toggle-list & {
		// @include font-size(18px);
	}

	.learning-approach & {
		// @include font-size(16px);
		padding: calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 1);
		text-align: center;
	}

	&.article-excerpt {
		@include font-size(25px);
		// @include line-height(1.25);
		margin-top: calc(#{$space-tiny} * 1.25);
	}

	@include break-point(tablet) {

	}

	@include break-point(laptop) {

	}

	@include break-point(desktop) {

	}
}

p + p {
	margin-top: calc(#{$space-tiny} * 2);
}

// .article-excerpt {
// 	@include font-size(24px);
// 	@include line-height(1.25);
// }

h2 + p {
	margin-top: calc(#{$space-tiny} * 1);
}

header + p {
	margin-top: calc(#{$space-tiny} * 0.5);
}

// .article-inner p + p {
// 	// margin-top: 0;
// }


