
/*  Webkit hacks */
/* ==================================================== */


// .header-logo {
//     max-width: 3rem;
//     max-height: 3rem;
//     background: yellow;

//     @include break-point(tablet) {
//         max-width: 4rem;
//         max-height: 4rem;
//         background: pink;
//     }

//     @include break-point(laptop) {
//         max-width: 14rem;
//         max-height: 64px;
//         background: red;
//     }

//     @include break-point(largelaptop) {
//         max-width: 18rem;
//         max-height: 84px;
//         background: cyan;
//     }
// }

.header-search input[type="text"].open {
    .chrome & {
    	padding: 0.785rem;
    }
}

.header-search .search-icon.open,
.header-search .search-toggle {
    .chrome & {
    	height: 43px;
    }
}

.article-inner p + p {
    .chrome & {
    	margin-top: calc(1rem * 1.5);
    }
}


.modal .header-section,
.non-hero .modal .header-section {
    .chrome & {
    	min-height: 72vh;
   }
}

.modal .school-name {
    .chrome & {
	    margin: 2rem 0 1.5rem;
	}
}

.search-404 input[type="text"] {
    .chrome & {
	    width: calc(100% - 3.5rem);
	}
}

.search-404 svg {
    .chrome & {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}