
/*  Drop list */
/* ==================================================== */


.drop-list {
    align-self: center;
    min-width: 148px;
    margin-left: auto;
}

.drop-list-container {
	@include font-size(13px);
	@include line-height(1);
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-self: center;
    position: absolute;
	width: 100%;
	max-width: 148px;
}

.drop-list-item {
	&:not(:first-of-type) {
		 margin-top: 12px;
	}

	&:hover {
		color: $grey-dk;
		@include box-shadow(0, 0, 12px, 8px, rgba(0, 0, 0, 0.25));
	}
}

.drop-list-selected {
	display: block;
}

.drop-list-option {
	display: none;
}

.drop-list-container:hover {

}

.drop-list-container:hover .drop-list-option {
	display: block;
}

.drop-list-container:hover .drop-list-selected {
	color: $white;
	background: $green-lt;
}
.country-select-container {
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  align-self: center;
  position: absolute;
  width: 100%;
  max-width: 150px;
  max-height: 148px;
  border: none !important;
  background: none;

  justify-content: flex-end;
	padding: calc(#{$space-tiny} * 1) calc(#{$space-tiny} * 1) calc(#{$space-tiny} * 0);
  .drop-list-container {
    position: relative;
    background-color: $blue-dk;

  }
  .country:not(:first-child) {
    margin-left: 0.5rem;
  }

  @include break-point(tablet) {
		padding: calc(#{$space-tiny} * 1) calc(#{$space-tiny} * 4) calc(#{$space-tiny} * 0);
	}

}
