
/*  Select country */
/* ==================================================== */


.country {
	@include font-size(12px);
	@include line-height(1);
	// margin-bottom: 0px;
	padding: 6px 0 6px;
	text-align: unset;
	color: $grey-mdk;

	&:not(:first-child) {
		margin-left: 1.5rem;
		text-transform: capitalize;
	}

	.text {
		background: transparent;
	}

	&:hover {
		color: $orange-lt;
	}
}

.country-choose {
	display: none;
	text-transform: uppercase;

	&:hover {
		color: $grey-mdk;
	}
}

%country-chosen {
	padding: 6px;
	color: $blue-lt;
	// background: #f5f5f5;
	// background: lighten($grey-lt, 2.75%);
	// border: 1px solid lighten($grey-lt, 1.5%);
	// background: $grey-lt;
	// pointer-events: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.country-ke {
	.body-ke & {
		@extend %country-chosen;
	}
}

.country-sa {
	.body-sa & {
		@extend %country-chosen;
	}
}
