
/*  Modal */
/* ==================================================== */


.modal {
    @include flexbox();
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 0vw;
    height: 0vh;
    padding: 0;
    background: transparent;
    transition: $ease;
    opacity: 0;
    ul {
    	margin: 0;
    	text-indent: 0;

    	li {
    		list-style-type: none !important;
        margin-left: 0 !important;
      	text-indent: 0 !important;

    		&:before {

          content: none !important;
    		}
    	}
    }

    .scroller-outer,
    form {
        display: none;
    }

    &.show {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        // padding: calc(#{$space-tiny} * 4);
        background: $blue-dk;
        opacity: 1;
        z-index: 10;
    }
}


.modal.modal-menu {
    &.show {
        .scroller-outer {
            display: block;
        }
    }
}


.scroller-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.scroller-inner {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    padding: calc(#{$space-tiny} * 4) calc(calc(#{$space-tiny} * 1) + 20px);
    overflow: auto;
    margin-top: 3rem;
}


.modal.modal-search {
    &.show {
        // padding: calc(#{$space-tiny} * 4) calc(#{$space-tiny} * 2);

        form {
            display: block;
        }
    }
}


.modal-control {
    width: 24px;
    cursor: pointer;
    z-index: 9;

    &.open,
    &.menu {
        align-self: center;
        margin-top: 0.25rem;
        margin-left: calc(#{$space-tiny} * 1);

        path {
            fill: $grey-md;
        }

        &:hover {
            path {
                fill: $orange-dk;
            }
        }
    }

    &.close {
        position: fixed;
        top: calc(#{$space-tiny} * 1);
        right: calc(#{$space-tiny} * 1.5);

        .modal.modal-menu & {
            // top: calc(#{$space-tiny} * 1);
            // right: calc(#{$space-tiny} * 1.5);
        }

        path {
            fill: $grey-md;
        }

        &:hover {
            path {
                fill: $orange-lt;
            }
        }
    }

    @include break-point(laptop) {
        &.open-menu {
            display: none;
        }
    }
}



.hfc-frame.hide {
    left: -9999px;
}
