
/*  Buttons */
/* ==================================================== */


.button {
	// Style
	@extend %button-style;


	// Size
	&-grosse {
		@include button-size(grosse);
	}

    &-large {
		@include button-size(large);
	}

	&-default {
		@include button-size(default);
	}

	&-small {
		@include button-size(small);
	}

	&-tiny {
		@include button-size(tiny);
	}


	// State
	&:hover {
		@include button-state(hover);
	}

	&:focus {
		@include button-state(focus);
	}

	&:active {
		@include button-state(active);
	}


	// Order
	&-primary {
		@include button-order(primary);
	}

	&-primary-alt {
		@include button-order(primary-alt);
	}

	&-secondary {
		@include button-order(secondary);
	}

	&-secondary-alt {
		@include button-order(secondary-alt);
	}

	&-disabled {
		@include button-order(disabled);

		&:hover {
			@include button-order(disabled);
		}
	}
}

.button-wrap {
	@include flexbox();
	margin-top: 0 !important;
	justify-content: center;
	// margin: 0 25%;
	// @extend %column-2;

	@include break-point(laptop) {
		margin: 0 auto;
		justify-content: flex-start;

		.mission-vision & {
			justify-content: center;
		}
		// justify-content: center;

        &.button-wrap-centered {
            justify-content: center;
        }
    }
}
.button-fees-dl {
	padding: 7px calc(7px * 1.5) !important;
	color: #fff !important;
	float: right;
	font-size: 14px!important;
	background: #178dbe;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease;

	// width: 100% !important;
	// @include break-point(tablet) {
	// 	width: auto !important;
	// }
}
