
/*  Header */
/* ==================================================== */


.page-header {
	position: relative;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	background: transparent;
	transition: $ease;
	z-index: index($indices, z6);

	&.stuck,
	.non-hero & {
		@include box-shadow(0, 0, 12px, 4px, rgba(30, 63, 117, 0.325));
	}

	&.page-header-home {
		// position: relative;
	}

	@include break-point(laptop) {
		position: fixed;
    }
}


.header-section {
	@include flexbox();
	@include flex-wrap(nowrap);
    @include flex-direction(row);
    padding: calc(#{$space-tiny} * 0.75) calc(#{$space-tiny} * 1);
	color: $white;
	background: $white;
	transition: $ease;

	.non-hero .modal & {
	    @include flex-order(1);
	    padding: calc(#{$space-tiny} * 2);
	}

	@include break-point(tablet) {
		padding: calc(#{$space-tiny} * 1.5) calc(#{$space-tiny} * 4);

	    &.stuck,
		.non-hero & {
			padding: calc(#{$space-tiny} * 1) calc(#{$space-tiny} * 4);
		}
    }
}


.header-section-home {
	background-color: transparent;
	padding: calc(#{$space-tiny} * 1);
	margin-top: -1rem;
	background-color: transparent;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.65) 10%,
		rgba(0, 0, 0, 0.6) 15%,
		rgba(0, 0, 0, 0.5) 20%,
		rgba(0, 0, 0, 0.45) 25%,
		rgba(0, 0, 0, 0.35) 50%,
		rgba(0, 0, 0, 0.30) 65%,
		rgba(0, 0, 0, 0.25) 75%,
		transparent 100%
	);

	@include break-point(tablet) {
		padding: calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 4);

	}
}


.header-logo {
   	display: inline-flex;
   	max-width: 3rem;
   	max-height: 3rem;
    padding: 0;
    font-size: 1.85rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: $white;
    align-self: center;
    transition: $ease;

    svg {
    	width: auto;
    	height: auto;

    	&.logo-mark-text {
			width: 0;
    	}

    	&.logo-mark-only {
    	}
    }

    &.stuck,
	.non-hero & {
		max-width: 3rem;
			max-height: 3rem;
	}

	.modal & {
		max-width: 4rem;
			max-height: 4rem;
		margin-bottom: 2rem;
    }

    @include break-point(tablet) {
		max-width: 4rem;
			max-height: 4rem;

		.modal & {
			max-width: 6rem;
				max-height: 6rem;
	    }
    }

    @include break-point(laptop) {
			// max-width: 14rem;
			max-width: 12.5rem;
			max-height: 64px;

		svg {
	    	&.logo-mark-text {
				width: auto;
	    	}

	    	&.logo-mark-only {
	    		width: 0;
	    	}
	    }

	    &.stuck,
		.non-hero & {
			max-width: 14.5rem;
				max-height: 64px;
		}
    }

    @include break-point(largelaptop) {
			// max-width: 18rem;
			max-width: 14rem;
			max-height: 84px;
    }
}


.header-apply {
    margin-left: auto;
    align-self: center;
    padding: calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 0.75);
    background: $green-lt;

	.stuck &,
	.non-hero & {
		padding: calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 0.75);
	}

    .modal & {
	    margin: calc(#{$space-tiny} * 1.5) 0 0;
	}

	@include break-point(laptop) {
		// padding: 13px calc(13px * 1.5);
		@include button-size(small);
    }
}


.menu {
	@include flexbox();
	@include flex-wrap(nowrap);
    @include flex-direction(column);
    align-self: center;
    display: none;
	margin-left: 2rem;
	list-style-type: none;

	@include break-point(laptop) {
		@include flex-direction(row);
		display: flex;
		width: calc(100% - 25rem);
    }

    @include break-point(largelaptop) {
		width: auto;
		margin-left: 2.5rem;
    }

    @include break-point(desktop) {
		margin-left: 5rem;
    }
}


.sub-menu {
	@include flex-direction(column);
    @include flex-wrap(nowrap);
    display: none;
	position: absolute;
	top: 34px; // looks like a Webkit magic number find FF fix
    left: -12px;
    width: 16vw;
    padding: 0;
	background: $blue-lt;
	border: 1px solid $blue-lt;
	box-shadow: 0px 8px 24px rgba(23, 141, 190, 0.35);
    opacity: 0;
    transition: $ease;
    z-index: 9;

	.menu > .menu-item:hover & {
		@include flexbox();
		opacity: 1;
	}
}


.menu-item {
	@include copy(regular);
	@include font-size(16px);
	@include line-height(1);
	position: relative;
	margin-left: unset;
	padding: 0;
	text-indent: unset;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.5px;
    transition: $ease;

	a {
		padding: 14px 0px 16px;
		color: lighten($grey-mdk, 15%);

		&.sub-menu-hovered {
			color: $blue-lt;
		}

		&:hover {
			color: $blue-lt;
		}
	}

	.sub-menu & {
		@include font-size(16px);
		padding: 0;

		&:not(:first-of-type) {
			margin-top: 0;
			margin-left: 0;
			border-top: 1px solid lighten($blue-lt, 2%);
		}

		&:before {
		    font-size: unset;
		    font-size: unset;
		    margin-right: unset;
		    vertical-align: unset;
		    content: unset;
		    color: unset;
		}

		a {
		    @include line-height(1.25);
		    display: block;
		    padding: 9px 16px;
			color: $white;

			&:hover {
				color: $orange-lt;
			}
		}
	}

	&.current-page-ancestor > a,
	&.current-menu-ancestor > a,
	&.current-menu-parent > a,
	&.current-page-parent > a {
		color: $blue-lt;
	}

	&:before {
		@include font-size(20px);
		content: "\2022";
		margin-right: 1rem;
		vertical-align: middle;
		color: $orange-lt;
	}

	&:not(:first-of-type) {
		margin-top: 1.125rem;
	}

	&:first-of-type {
		&:before {
			font-size: unset;
		    font-size: unset;
		    margin-right: unset;
		    vertical-align: unset;
		    content: unset;
		    color: unset;
		}
	}

	&:first-child a {
	    padding-top: 12px;
	}

	&:last-child a {
	    padding-bottom: 12px;
	}

	&:hover {

	}

	@include break-point(laptop) {
		text-align: left;

		&:not(:first-of-type) {
			margin-top: 0;
			margin-left: 1rem;
		}
    }

    @include break-point(largelaptop) {
		@include font-size(18px);

		&:not(:first-of-type) {

		}
    }
}


.menu-item-current {
	a {
		color: $green-lt;

		&:hover {
			color: $blue-lt;
		}
	}
}


