
/*  Main */
/* ==================================================== */


main {
	width: 100%;
}

.main-home {
    width: 100%;
    background: lighten($background-grey, 8%);
    
    .page-home & {
		margin-top: 100vh;
		z-index: 9;
	}
}
