.general-notices-container {
    @extend %columns;
    clear: both;

    &.school-notices {
      // padding-top: 0;
      // padding-bottom: calc(1rem * 4);
      margin-top: 0;
      @include break-point(tablet) {
        // margin-top: -4rem;
      }
    }

	.large-notice-container  {
		@extend %column;
		@extend %columns;
	  	@extend %column-10;
	  	background-image: url('../img/school-notice-image.jpg');
	    background-size: cover;
	    background-position: center center;
	    background-repeat: no-repeat;

		h1 {
	    	margin: 0 auto;
        @include font-size(32px);
        line-height: 1.25;
	    	color: $white;
	    	text-align: center;
	    	max-width: 100%;
        text-shadow: 1px 1px darken($dark-grey, 50%);
        @include break-point(tablet) {
          @include font-size(40px);
          line-height: 1.5;
        }
		}
		p {
	    	@include font-size(21px);
	    	@include copy(semi);
	    	line-height: 1.5;
	    	color: $white;
	    	padding: calc(#{$space-tiny} * 1)  calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 2)  calc(#{$space-tiny} * 0.5)  ;
	    	padding-top: calc(#{$space-tiny} * 1);
	    	text-align: center;
        text-shadow: 1px 1px darken($dark-grey, 50%);

        &.call-to-action {
          text-shadow: none;
          margin: 0;
          padding: 0;
        }
        @include break-point(tablet) {
          @include font-size(28px);
  	    	@include copy(semi);
          line-height: 1.5;
          padding: calc(#{$space-tiny} * 1);
        }
		}
		a {
			//display: block;
			//color: $white;
			@include font-size(16px);
			//color: $grey;
			text-align: center;
			&:hover {
				//color: $green-blue;
				//cursor: pointer;

			}
		}
	}
	.large-notice {
    // width: 100%;
		margin: 0 auto;
		margin-bottom: 0;
		background: rgba(19,59,85,.7);

		.notice-content {
      padding: calc(#{$space-tiny} * 1);
      padding-bottom: calc(1rem * 2);
      @include break-point(tablet) {
        padding: calc(#{$space-tiny} * 3);
        padding-bottom: calc(1rem * 3);
      }
		}
    .school-notice-content {
        padding: calc(#{$space-tiny} * 2);
        padding-bottom: calc(1rem * 3);
    }

	}
	.small-notice-container {
		// @extend %column;
		// @extend %columns;
    @include flexbox();
  	@include flex-direction(row);
  	@include flex-wrap(wrap);
    // width: 100%;
		@extend %column-2;
		margin-top: 2rem;
    justify-content: space-between;

		&:not(:first-of-type) {
	        margin-left: 0;
	    }
      h4 {
        margin-bottom: 0.5rem;
        color: $blue-dk;
      }
      .button {
        line-height: 1.25;

      }
    	// h1 {
    	// 	@include font-size(18px);
    	// 	text-align: center;
	    // 	margin: auto;
	    // 	line-height: 1.25;
      //
    	// }
    	// h2 {
    	// 	@include font-size(14px);
    	// 	color: $dark-grey;
    	// 	text-align: center;
    	// 	@include copy(regular);
	    // 	margin: auto;
	    // 	padding: calc(#{$space-tiny} * 0.5);
      //
    	// }
    	p {
    		@include font-size(16px);
	    	@include copy(bold);
        // padding-bottom: calc(#{$space-tiny} * 1);
        margin-top: 0;
	    	// line-height: 1;
	    	text-align: center;
    	}
      	a{
    	    @include font-size(16px);
          text-align: center;
    	    margin-top: 0.75rem;
    	}

      	@include break-point(laptop) {
			margin-top: 0;

			&:not(:first-of-type) {
				margin-left: $gut;
			}
		}

      @include break-point(desktop) {
			margin-top: 0;
      @include flex-direction(column);
      // width: inherit;
		}


      .divider {
      	width: 80%;
        margin: 0 auto;
      	padding: calc(#{$space-tiny} * 3) calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 2) ;
        display: none;

      	&:after {
      		content: ' ';
      	    display: block;
      	    width: 100%;
      			border-top: 1px solid #d4d9d7;
      	}
      	@include break-point(tablet) {
      		padding: calc(#{$space-tiny} * 3) calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 2) ;
      	}
      	@include break-point(laptop) {
      		padding: calc(#{$space-tiny} * 2) 0;
          display: block;
      	}
      }
	}


	.small-notice {
    @extend %column;
    text-align: center;
    padding:  0 calc(#{$space-tiny} * 0.5);
    // background-color: $grey;
    // width: 45%;
    &:first-of-type {
      // margin-bottom: 1.5rem;
      // padding-bottom: calc(#{$space-tiny} * 3);
      // border-bottom: 1px solid darken($grey, 10%);
    }

    &:not(:first-of-type) {
      margin-left: 0;

    }
		&:last-child {
			margin-bottom: 0;
      margin-left: 0;
		}
    @include break-point(laptop) {
      width: 100%;
    }
	}
	.bar-notice {
    @extend %column;
		@extend %columns;
    justify-content: space-around;
    align-items: center;
		width: 100%;
		//background: lighten($blue, 20%);
    padding: calc(#{$space-tiny} * 1) 0;
    background: $dark-blue;
		color: $grey;
		p {
			@include font-size(16px);
      @include copy(regular);
			padding: calc(#{$space-tiny} * 1);
			line-height: 1;
			color: $grey;
			text-align: center;
      text-shadow: none;
		}
		a {
			color: $white;
      @include copy(regular);
			@include font-size(18px);
			text-decoration: none;
			display: block;
      padding: calc(#{$space-tiny} * 0.5) 0;
			&:hover {
        color: $green-blue;

			}
      @include break-point(tablet) {
        display: inline;
       }
		}
    .contact {
      text-align: center;
      a {
        color: $orange-dk;
        &:hover {
          color: $orange-lt;
        }

      }
    }
    @include break-point(laptop) {
  		padding: 0;
  	}

	}

}

// .school-description-container {
// 	@extend %columns;
//   @extend %column;
//   @extend %column-12;
// 	margin: 0 auto;
// 	clear: both;
//   // padding: calc(1rem * 4);
// 	padding-bottom: 0;
// 	.school-name {
// 		// @extend %columns;
// 		// @extend %column;
// 		@extend %column-3;
// 		//background: darken($grey, 50%);
//
// 		// border-top: 1px solid lighten($blue, 10%);
// 		// border-bottom: 1px solid lighten($blue, 10%);
// 		padding: calc(#{$space-tiny} * 1);
//     border-top: 1px solid darken($grey, 10%);
// 		border-bottom: 1px solid darken($grey, 10%);
// 		h1 {
// 			@include font-size(24px);
// 			text-align: center;
//       margin-top: 0.125rem;
//       margin-bottom: 0;
// 		}
// 	}
// 	.description-inner-wrap {
// 		@extend %columns;
// 		// @extend %column;
// 		@extend %column-9;
//   	justify-content: space-between;
//   	padding: 1rem 2rem;
//   	align-items: center;
//     border-top: 1px solid darken($grey, 10%);
// 		border-bottom: 1px solid darken($grey, 10%);
// 		//margin-left: 0 !important;
//   	//background: $background-grey;
//
// 		.detail-separator {
// 				content: " ";
//     		padding: 0 1rem;
//
// 				&:after {
// 					content: "—";
// 					@include copy(light);
// 					text-align: center;
// 					color: darken($grey, 20%);
//
//           @include break-point(laptop) {
//         		content: "|";
//         	}
// 				}
// 			}
// 		}
//   	.school-detail{
//   		color: $dark-grey;
//   		@include font-size(14px);
//   		@include copy(regular);
//   		text-align: center;
//       text-transform: uppercase;
//   		&:last-child:after {
//   			content: none;
//   		}
//
//   	.button {
//   	    @include button-size(large);
//   	    // ////@include button-style(solid);
//   	    // ////@include button-state(normal);
//   	    @include font-size(21px);
//   	    width: 100%;
//   	    margin-top: 1rem;
//   	    position: relative;
//   	    &:hover {
//   	        background: $dark-blue;
//   	        border: none;
//   	        transition: background 0.3s ease;
//
//   	    }
//   	}
//   }
// }
