
/*  Media */
/* ==================================================== */


figure {
	position: relative;
}


figcaption {
	display: block;

	@include break-point(tablet) {

	}

	@include break-point(laptop) {

	}

	@include break-point(desktop) {

	}
}


img {
	width: 100%;
	height: auto;

	.learning-approach & {
		margin: 0 auto 1.5rem auto;
		width: 35%;
	}

	@include break-point(tablet) {

	}

	@include break-point(laptop) {

	}

	@include break-point(desktop) {

	}
}


