<script>
    console.log('safari map thingies')
    var map;
    var locations_data = '{{locations}}';
    var locations = JSON.parse(locations_data.replace(/&quot;/ig, '"'));

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng( locations[0].latitude, locations[0].longitude ),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.TOP_CENTER
            },
            zoomControl: true,
            zoomControlOptions: {position: google.maps.ControlPosition.LEFT_TOP},
            scaleControl: true,
            streetViewControl: true,
            streetViewControlOptions: {position: google.maps.ControlPosition.RIGHT_CENTER},
            fullscreenControl: true
        });

       var markers = [];

        locations.forEach(function(location){

           var marker = new google.maps.Marker({
                position: new google.maps.LatLng( location.latitude, location.longitude )
            });

            markers.push(marker);

            if( (location.info_text !== undefined) && (location.info_text !== null) && (location.info_text !== '') )
            {
               var infoWindow = new google.maps.InfoWindow({
                    content: location.info_text
                });

                google.maps.event.addListener(marker, 'click', function(e){
                    infoWindow.open(map, this);
                });
            }

        });

        // Add markers and Autocenter map
       var bounds = new google.maps.LatLngBounds();

        markers.forEach(function(marker){
            marker.setMap(map);
            bounds.extend(marker.position);
        });

        map.fitBounds(bounds);


    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBroSr1E-YWhqnSuybyB7Ed6uap7eTO8Bs&callback=initMap"
    async defer></script>

    <style>
        #map{
            width: 100%;
            margin: 0;
            height: 400px;
        }
    </style>

    <div class="section-content-item section-content-item-full">
        <div class="location-map">
            <div id="map"></div>
        </div>
    </div>


