
/* Colours */
/* ==================================================== */


$white: #ffffff;

$black: #0a0a0a;

$blue-dk: rgba(30, 63, 117, 1.0000);

$blue-lt: rgba(23, 141, 190, 1.0000);

$green-dk: rgba(7, 143, 70, 1.0000);

$green-lt: rgba(108, 189, 69, 1.0000);

$orange-dk: rgba(245, 138, 31, 1.0000);

$orange-lt: rgba(255, 206, 1, 1.0000);

$pink: rgba(245, 138, 31, 1.0000);

$grey-dk: rgba(26, 26, 26, 1.0000);

$grey-mdk: rgba(95, 95, 95, 1.0000);

$grey-md: rgba(191, 193, 191, 1.0000);

$grey-lt: rgba(239, 241, 240, 1.0000);

$grey-gh: rgba(239, 241, 240, 1.0000);

$red: rgba(245, 138, 31, 1.0000);

$flare: red;

$sky: rgba(53, 126, 174, 1.0000);

$sky-light: lighten($sky, 15%);

$raspberry: rgba(246, 0, 104, 1.0000);



@each $colour-name, $colour-value in
    (black, $black),
    (white, $white),
    (blue-dk, $blue-dk),
    (blue-lt, $blue-lt),
    (green-dk, $green-dk),
    (green-lt, $green-lt),
    (orange-dk, $orange-dk),
    (orange-lt, $orange-lt),
    (pink, $pink),
    (grey-dk, $grey-dk),
    (grey-mdk, $grey-mdk),
    (grey-md, $grey-md),
    (grey-lt, $grey-lt),
    (grey-gh, $grey-gh),
    (flare, $flare),
    (sky, $sky),
    (sky-light, $sky-light),
    (raspberry, $raspberry) {

    %text-#{$colour-name} {
        color: #{$colour-value};
    }

    .text-#{$colour-name} {
        color: #{$colour-value};
    }


    %bg-#{$colour-name} {
        background: #{$colour-value};
    }

    .bg-#{$colour-name} {
        background: #{$colour-value};
    }
}

