
/* Typefaces */
/* ==================================================== */


$font-url: 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900';

@if variable-exists(font-url) {
  @import url($font-url);
}


/* Title font */
@mixin title($title) {
	font-family: 'Montserrat', 'Arial', sans-serif;

	/* Black */
	@if $title == 'black' {
		font-weight: bolder;
		font-weight: 900;
	}

	/* Bold */
	@if $title == 'bold' {
		font-weight: bold;
		font-weight: 700;
	}

	/* Regular */
	@else if $title == 'regular' {
		font-weight: normal;
		font-weight: 400;
	}

	/* Light */
	@else if $title == 'light' {
		font-weight: lighter;
		font-weight: 300;
	}
}


// Usage:
// div { @include title(regular); }



/* Copy font */
@mixin copy($copy) {
	font-family: 'Arial', sans-serif;

	/* Black */
	@if $copy == 'black' {
		font-weight: bolder;
		font-weight: 900;
	}

	/* Bold */
	@if $copy == 'bold' {
		font-weight: bold;
		font-weight: 600;
	}

	/* Regular */
	@else if $copy == 'regular' {
		font-weight: normal;
		font-weight: 400;
	}

	/* Light */
	@else if $copy == 'light' {
		font-weight: lighter;
		font-weight: 300;
	}
}


// Usage:
// div { @include copy(regular); }


