
/*  Drop list */
/* ==================================================== */


.drop-list {
    align-self: center;
	position: relative;
    min-width: 100px;
    min-height: 36px;
    margin-left: 2rem;
    background: red;
}

.drop-list-container {
	@include font-size(13px);
	@include line-height(1);
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-self: center;
    position: absolute;
	top: 0px;
	width: 95%;
	background: lighten(cyan, 10%);
	border: 1px solid $grey-mdk;
}

.drop-list-item {
	// display: none;
	min-height: 36px;
	margin-left: 3px;
	padding: 0;
	color: $grey-dk;
	background: lighten(purple, 60%);
	border: 1px solid purple;
	cursor: pointer;

	&.show {
		display: block;
		// background: $blue-lt;
	}

	&:not(:first-of-type) {
		// margin-left: 1.25rem;
	}

	&:hover {
		// color: $blue-lt;

		// .select-countries & {
		// 	color: $grey;
		// }
	}
}

.drop-list-selected {
	// display: none;
}

.drop-list-option {
	background: wheat;
}

.drop-list-selected:hover ~ .drop-list-option {
	display: block;
	background: wheat;
}



