
/*  Icons */
/* ==================================================== */


.country-list {
    align-self: center;
	position: relative;
    min-width: 100px;
    height: 24px;
    margin-left: calc(#{$space-tiny} * 2);
}

.country-list-container {
	@include font-size(13px);
	@include line-height(1);
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    align-self: center;
    position: absolute;
	top: 0;
	width: 100%;
	height: 24px;
	overflow: hidden;
}

.country-list-item {
	height: 24px;
	padding: 6px 0 0;
	// color: $grey-dk;
	color: $blue-dk;
	cursor: pointer;

	&:hover {
		color: $green-lt;
	}
}

.country-list-selected {
	display: block;
}

.country-list-option {
	display: none;
}

.country-list-container:hover {
	height: 48px;
	overflow: unset;
}

.country-list-container:hover .country-list-option {
	display: block;
}
