
/*  Header */
/* ==================================================== */


// .new-menu { //start new menu

.page-header {
	position: fixed;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	background: transparent;
	transition: $ease;
	z-index: 9;

	&.stuck,
	.non-hero & {
		@include box-shadow(0px, 0px, 8px, 1px, rgba(0,0,0,0.5));
	}
}

.header-section {
	@include flexbox();
	@include flex-wrap(nowrap);
    @include flex-direction(row);
	color: $white;
}

.header-section-aux {
	padding: calc(#{$space-tiny} * 1);
	background: $dark-blue;

	@include break-point(tablet) {
		padding: calc(#{$space-tiny} * 0) calc(#{$space-tiny} * 6);
    }
}

.header-section-main {
    padding: calc(#{$space-tiny} * 1);
	background: transparent;
	background-image: linear-gradient(
		top, 
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.25) 25%, 
		rgba(0, 0, 0, 0.125) 50%, 
		rgba(0, 0, 0, 0.06125) 75%, 
		transparent 100%
	);
	background-image: -moz-linear-gradient(
		top, 
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.25) 25%, 
		rgba(0, 0, 0, 0.125) 50%, 
		rgba(0, 0, 0, 0.06125) 75%, 
		transparent 100%
	);
	background-image: -moz-linear-gradient(
		top, 
		rgba(7, 33, 52, 0.8),
		rgba(7, 33, 52, 0.75) 25%,
		rgba(7, 33, 52, 0.5) 50%,
		rgba(7, 33, 52, 0.25) 75%,
		transparent 100%
	);
	transition: $ease;

	&.stuck,
	.non-hero & {
		background: $blue;
	}

	@include break-point(tablet) {
		padding: calc(#{$space-tiny} * 1) calc(#{$space-tiny} * 6) 0;

	    &.stuck,
		.non-hero & {
			padding: calc(#{$space-tiny} * 0.75) calc(#{$space-tiny} * 6);
		}
    }
}


.select-country {
	@include flexbox();
	@include flex-wrap(nowrap);
    @include flex-direction(row);
	align-self: center;
	// width: auto;
	// max-width: 15rem;
	// margin-right: auto;
	margin-right: 1rem;
	background: transparent;
	cursor: pointer;
	// display: none;
}

.select-country .text {
    margin-left: 8px;
    font-size: 0.875rem;
    text-transform: uppercase;
	color: lighten($blue, 10%);
	display: none;

	&:hover {
		color: lighten($blue, 5%);
	}
}

.select-country .show {
	display: block;
}

.select-country .hide {
	display: none;
}


.school-name {
	@include title(regular);
	@include font-size(22px);
	@include line-height(1);
	align-self: center;
	color: $white;
	transition: $ease;

	&.stuck,
	.non-hero & {
		@include font-size(20px);
	}
}


.header-search {
	width: 2.75rem;
	height: 2.75rem;
	margin-left: auto;
	align-self: center;
	background: transparent;
}

.header-search fieldset {
    position: absolute;
	right: 0;
    width: 2.75rem;
	height: 2.75rem;

	&.open {
		width: 30rem;
	}
}

.header-search input[type="text"] {
	width: 0;
	padding: 0;
	color: $blue;
	background: $white;
	border: 0 none;
	outline: 0 none;

	&.open {
		width: 24.5rem;
		padding: 8px 12px;
	}

	&:hover,
	&:focus {
		color: $dark-blue;
		border: 0 none;
		outline: 0 none;
	}
}

.header-search input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 2;

	&.open {
		right: 2.75rem;
		width: 2.75rem;
		height: 2.75rem;
	}
}

.header-search .search-icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	background: $sky;
	border: 0 none;
	outline: 0 none;
	z-index: 1;

	&.open {
		right: 2.75rem;
		width: 2.75rem;
		height: 2.75rem;
	}
}

.header-search svg {
	position: absolute;
	top: 7px;
	right: 10px;
	width: 1.5rem;
	height: 1.5rem;
}

.header-search .search-toggle {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.75rem;
	height: 2.75rem;
	background: $dark-blue;
	border: 0 none;
	outline: 0 none;
	cursor: pointer;
	z-index: 1;
}

.header-search .search-toggle-icon {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 2.75rem;
	height: 2.75rem;
	
	&.magnify {
		top: 3px;
		left: 4px;
		font-size: 1.75rem;
		transform: rotate(-45deg);
		color: $white;
	}

	&.cross {
		top: 5px;
		left: 1px;
		font-size: 1.5rem;
		color: $sky;
	}

	&.open {
		display: block;
	}
}

.header-search svg circle,
.header-search svg line {
	stroke: $white;
	stroke-width: 1.5;
}

.header-search input[type="submit"]:hover ~ svg circle,
.header-search input[type="submit"]:hover ~ svg line,
.header-search input[type="text"]:hover ~ svg circle,
.header-search input[type="text"]:hover ~ svg line,
.header-search input[type="text"]:focus ~ svg circle,
.header-search input[type="text"]:focus ~ svg line {
	stroke: lighten($blue, 5%);
}


.header-logo {
   	max-width: 7.125rem;
    padding: 0;
    font-size: 1.85rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: $white;
    align-self: center;
    transition: $ease;

    &.stuck,
	.non-hero & {
		max-width: 5rem;
	}
}


.header-apply {
    margin-left: auto;
    align-self: center;
}


.menu {
	@include flexbox();
	@include flex-wrap(nowrap);
    @include flex-direction(column);
    align-self: center;

	&.menu-aux {
		margin-left: 2.5rem;
	}

	&.menu-main {
		// margin-right: auto;
		margin-left: 2.5rem;
		// display: none;
	}

	@include break-point(laptop) {
		@include flex-direction(row);
    }

    @include break-point(desktop) {
		@include flex-direction(row);
    }
}

.menu-item {
	@include font-size(16px);
	@include line-height(1);
	letter-spacing: 0.75px;
	color: $white;
	padding: 0;

	&:hover {
		color: $green-blue-light;
	}
}

.menu-item-aux {
	@include copy(regular);
	@include font-size(12px);
	text-transform: uppercase;

	&:not(:first-of-type) {
		margin-left: 1.5rem;
	}
}

.menu-item-main {
	@include title(regular);
	@include font-size(22px);
	text-transform: capitalize;
	transition: $ease;

	&.stuck,
	.non-hero & {
		@include font-size(20px);
		// color: $blue;
	}

	&:not(:first-of-type) {
		margin-left: 2rem;
	}
}




// } // end new menu





.trigger-container {
	position: absolute;
	top: 72.5%;
	background: red;
	padding: 1rem;
}

.trigger {

}

 .trigger-offset {
 	margin-top: 150px;
 }




// .modal-check {
//     position: absolute;
//     left: -9999px;
//     top: -9999px;
// }

// .modal-check-label {
//     position: absolute;
//     top: 3rem;
//     right: 3rem;
//     width: 3rem;
//     height: 3rem;
//     padding: 1.25rem 0.75rem 0px;
//     cursor: pointer;

//     @include break-point(laptop) {
// 		display: none;
//     }
// }

// .modal-dot {
//     display: block;
//     width: 6px;
//     height: 6px;
//     margin: 0 auto;
//     background: black;
// }

// .modal-dot:not(:first-of-type) {
//     margin-top: 3px;
// }

// input[type=checkbox]:checked ~ .menu {
//     @include flexbox();
// 	@include flex-direction(column);
// 	@include flex-wrap(nowrap);
//     justify-content: center;
//     align-content: stretch;
//     text-align: center;
//     background: yellow;
//     padding: 2.5rem 0;
//     height: auto;
//     min-height: 320px;
// }

// input[type=checkbox]:checked ~ .menu .menu-item-page {
//     @include flex(1, auto, 0);
//     display: block;
//     align-self: center;
//     padding: 1rem;
//     font-size: 1.25rem;
// }

// input[type=checkbox]:checked ~ .menu .menu-item-page:not(:first-of-type) {
//     padding-top: 0;
// }

// input[type=checkbox]:checked ~ .menu .menu-item-logo {
//     margin-top: 6rem;
//     margin-right: unset;
//     margin-bottom: 1rem;
//     font-size: 2rem;
//     text-align: center;
// }

// input[type=checkbox]:checked ~ .modal-check-label {
//     right: 50%;
//     top: 6rem;
//     margin-right: -36px;
// }

// input[type=checkbox]:checked ~ .modal-check-label .modal-dot {
//     display: block;
//     width: 36px;
//     height: 6px;
//     margin: 0 auto;
//     background: black;
// }

// input[type=checkbox]:checked ~ .modal-check-label .modal-dot:nth-of-type(1) {
//     opacity: 0;
// }


// input[type=checkbox]:checked ~ .modal-check-label .modal-dot:nth-of-type(2) {
//     transform: rotate(45deg);
// }

// input[type=checkbox]:checked ~ .modal-check-label .modal-dot:nth-of-type(3) {
//     transform: rotate(-45deg);
//     margin-top: -6px;
// }