
/*  Hero */
/* ==================================================== */


.section-hero {
    @include flexbox();
    @include flex-direction(row);
    // min-height: 80vh;
    min-height: 100vh;
    // $$$ ### ^^^ margin-bottom: calc(#{$space-tiny} * 4);
    padding: 0;
    background-color: $blue;
    // background-image: url('../../img/large-hero-home.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    &.homepage {
      // min-height: 0;
      background-color: transparent;
    }

    &.country-home{
        background-image: url('../../img/large-hero-country.jpg');
    }

    &.school-home{
        background-image: url('../../img/large-hero-school.jpg');
        min-height: 89vh;
    }

    &.learning-home{
        background-image: url('../../img/large-hero-learning.jpg');
    }

    &.leadership-team{
        background-image: url('../../img/large-hero-leadership.jpg');
        background-position: center top;
        min-height: 80vh;
        // max-height: 80vh;
    }

    &.working-at-np{
        background-image: url('../../img/large-hero-working-at-np.jpg');
    }

    &.about-np{
        background-image: url('../../img/large-hero-about-np.jpg');
    }

    &.admission-process-hero{
        background-image: url('../../img/large-hero-admission-process.jpg');
    }

    &.contacts-hero{
        background-image: url('../../img/large-hero-contacts.jpg');
    }

    &.corporate-hero{
        background-image: url('../../img/large-hero-corporate.jpg');
    }

    &.events-hero{
        background-image: url('../../img/large-hero-events.jpg');
    }


    @include break-point(tablet) {

    }

    @include break-point(laptop) {

    }

    @include break-point(desktop) {

    }
}
.country-hero {
  @include flexbox();
  @include flex-direction(row);
  height: 95vh;
  padding: 0;

}
.hero-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.main-callout-box {
	position: absolute;
	top: unset;
	// left: calc(#{$space-tiny} * 2);
	bottom: 0;
	// right: calc(#{$space-tiny} * 2);
	max-width: 100%;
	margin: 0;
	// padding: calc(#{$space-tiny} * 2.5);
	text-align: left;
	background: unset;
	box-shadow: unset;
	border: unset;
	background: rgba(7, 33, 52, 0.785);
	// ===
	left: 0;
	right: 0;
	padding: calc(#{$space-tiny} * 4);
	background-color: transparent;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.65) 10%,
		rgba(0, 0, 0, 0.6) 15%,
		rgba(0, 0, 0, 0.5) 20%,
		rgba(0, 0, 0, 0.45) 25%,
		rgba(0, 0, 0, 0.35) 50%,
		rgba(0, 0, 0, 0.30) 65%,
		rgba(0, 0, 0, 0.25) 75%,
		transparent 100%
	);
  &.home-page-callout {
    background-image: none;
    @extend %column;
    max-width: 775px;
    // @extend %column-6;
    // padding-right: calc(#{$space-tiny} * 1);
    h1 {
      max-width: auto;
      width: 100%;
      @include font-size(49px);
    }
    .country-selection {
      @extend %columns;
      justify-content: space-between;

      a {
        width: 45%;
      }
      .button {
        background-color: transparent;
        border: 1px solid $white;
        &:hover {
          background-color: $white;
          border: none;
          color: $green-dk;
          @include copy(bold);
        }
      }
      @include break-point(tablet) {
        padding-right: calc(#{$space-tiny} * 1.65);
        display: flex;
        flex-flow: row;
    	}
      @include break-point(laptop) {
        padding-right: calc(#{$space-tiny} * 1.65);
        display: flex;
    	}
    }
  }
  &.country-hero {
  
  }

	hr {
		width: 3rem;
		padding: 3px 0;
		background: $blue;
		// ===
		display: none;
	}

	h1 {
    	@include line-height(1.35);
    	@include text-shadow(0px 1px 2px rgba(0, 0, 0, 0.8));
	    max-width: 768px;
	    margin: calc(#{$space-tiny} * 1.5) 0 calc(#{$space-tiny} * 1);
	    letter-spacing: 2px;
	    color: $white;
	}

	p {
        @include text-shadow(0px 1px 2px rgba(0, 0, 0, 0.8));
        max-width: 768px;
        margin: calc(#{$space-tiny} * 1.5) 0 0;
        padding: 0;
        line-height: 1.5;
        color: $white;
        display: none;
    }

    a {
        display: unset;
        font-size: unset;
        color: unset;
        text-decoration: unset;
        padding-top: unset;

        &:hover {
            color: unset;
            text-decoration: unset;
        }
    }

    a.button {
        @extend .button;
        @extend .button-default;
        @extend .button-primary;
        margin: calc(#{$space-tiny} * 1.5) 0 0;
    }

    .animated-title {
			opacity: 0;
       transform: translateX(-100%);
      &.slideInLeft {
        opacity: 1;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;


      }
    }


    @include break-point(tablet) {

    }

    @include break-point(laptop) {

    }
}
