
/*  Modal */
/* ==================================================== */


.modal {
    @include flexbox();
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 100vw;
    width: 0vw;
    height: 0vh;
    padding: 0;
    background: transparent;
    transition: $ease;
    opacity: 0;

    form {
        display: none;
    }

    &.show {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: calc(#{$space-tiny} * 4);
        background: $blue-dk;
        opacity: 1;
        z-index: 10;

        form {
            display: block;
        }
    }
}

.modal-control {
    width: 32px;
    cursor: pointer;
    z-index: 9;

    &.open {
        align-self: center;
        margin-top: 0.25rem;
        margin-left: 2rem;

        path {
            fill: $grey-md;
        }

        &:hover {
            path {
                fill: $orange-dk;
            }
        }
    }

    &.close {
        position: fixed;
        top: calc(#{$space-tiny} * 1.5);
        right: calc(#{$space-tiny} * 1.5);

        path {
            fill: $grey-md;
        }

        &:hover {
            path {
                fill: $orange-lt;
            }
        }
    }
}


