

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  // margin-top: 1rem;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;

  .profile & {
    // margin: 0;
    margin-bottom: 0.75rem;
  }
  .mission-vision & {
    margin-top: 1rem;
    margin-left: 0;
    width: 25%;
    line-height: 1.25;
    @include break-point(tablet) {
      width: 17%;
    }
    @include break-point(laptop) {
      margin-left: 43%;
      width: auto;
    }
  }
  .global-leaders-profiles & {
    margin-top: 0.5rem;
    width: 60%;
    line-height: 1.25;
    @include break-point(mobile) {
      width: 60%;
    }
    @include break-point(tablet) {
      // width: 35%;
    }
    @include break-point(laptop) {
      width: auto;
    }
  }

  &:hover{
    // color: $blue;
  }
}
