

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  margin-top: 1rem;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;

  .profile & {
    margin: 0;
  }

  &:hover{
    // color: $blue;
  }
}
