
/*  Forms */
/* ==================================================== */


form {
	@extend %clearfix;
	@include copy(regular);
	position: relative;
	width: 100%;
	display: block;
	background: transparent;
}



fieldset {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0;
	font-size: 1rem;
	background: transparent;
	border: 0 none;
	@extend %clearfix;

	&:not(:first-of-type) {
		margin-top: calc(#{$space-tiny} * 1.75);

		&.column-3 {
		}
	}
}


label {
	display: block;
	margin: 0 0 0.751rem;
	padding: 0;
	@include font-size(18px);
	@include font-size(16px);
	@include line-height(1.1);
	text-transform: capitalize;
	color: $grey;
	color: lighten($blue, 2.5%);

	&.radio-check {
		display: inline;
		font-weight: normal;
	}

	span {
		color: $blue;
		// font-weight: bold;
		font-size: 1.25rem;
	}
}


input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	@include font-size(16px);
	@include letter-spacing(tiny);
	position: relative;
	//display: block;
	width: 100%;
	padding: 0.75rem 1rem;
	//color: $grey;
	background: $white;
	appearance: none;
	border: 0 none;
	outline: 0 none;
	border: 1px solid $sky;
	border-radius: 2px;

	&:hover {
		color: $sky;
		border: 1px solid $green-dk;
	}

	&:focus {
		color: $blue;
		border: 1px solid $blue-dk;
	}

	&::placeholder {
		color: $dark-grey;
		opacity: 1;
	}
}


textarea {
	height: 10rem;
}


select {
	min-width: 25%;
	// width: auto;
	margin: 0;
	border-radius: 3px;
}


option {
	padding: 0.25rem 0 0;
	border: 0 none;
	outline: 0 none;
}


fieldset.radio ul {
	@extend %clearfix;
	margin-top: 0.25rem;
	list-style-type: none;
}


fieldset.radio ul li {
	float: left;
	margin: 0 2rem 0.25rem 0;
}


fieldset.radio ul li:last-child {
	margin: 0;
}


p.form-help {
	display: inline-block;
	margin: 0.125rem 0 0.25rem;
	@include font-size(15px);
	color: #999;
}

p.form-data {
	display: inline-block;
	margin: 0.125rem 0 0.75rem;
	@include font-size(18px);
}


input[type="submit"] {
	appearance: none;
	@include border(0, solid, transparant);
	@include outline(0, solid, transparant);
	cursor: pointer;

	&:hover,
	&:focus {
	}

	&:active {
	}
}
img.ajax-loader {
	max-height: 16px;
	max-width: 16px;
	display: none;
}
//table filter
.table-filter {
	@extend %column;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: stretch;
	padding: calc(#{$space-tiny} * 2) 0 calc(#{$space-tiny} * 0.5) 0;
	.selector {
		position: relative;
		width: 100%;
		flex: 1;
		margin-right: 1.125rem;
		// flex: 2;
		// margin-bottom: 1rem;
		@include break-point(mobile) {
			width: 100%;
		}
		@include break-point(largelaptop) {
			display: inline-block;
			width: auto;
		}
		@include break-point(desktop) {
			width: auto;
		}
	 &:after {
			top: 45%;
			left: 85%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-top-color: $sky;
			border-width: 0.5rem;
			// margin-top: -0.2rem;
			z-index: 2;

			@include break-point(tablet) {
				width: auto;
				left: 96%;
			}
			@include break-point(desktop) {
				width: auto;
				left: 85%;
			}
			// @include break-point(largelaptop) {
			// 	// top:-27%;
			// 	left: 86%;
			// 	position: relative;
			// }
			// @include break-point(desktop) {
			// 	top:0;
			// 	width: 100%;
			// 	// left: 90%;
			// }
		}


	 .dropdown {
			// @extend %column-5;
			// @extend %column-5;

			color: lighten($dark-grey, 10%);
			//display: inline-block;
			width: 100%;
			padding-right: calc(#{$space-tiny} * 3);
			@include break-point(mobile) {
				display: block;
				width: 100%;
			}
			@include break-point(desktop) {
				width: 100%;
			}

			option{
				padding-right: calc(#{$space-tiny} * 3);
				color: $sky;
				&:first-child {
					padding-left: calc(#{$space-tiny} * 1);
				}
				&:not(:checked) {
					// color: lighten($dark-grey, 10%);
				}
			}
			&:focus {
				outline: none;
			}
	}

}
.button {
	margin-top: 0;
	flex: 1;
	@include break-point(tablet) {
		margin-top: 1rem;
	}
}

}
//---Gravity form overrides----
// .gform_body {
//
// }
//sign up/subscription form
.section-subscribe {
	padding-top: calc(#{$space-tiny} * 2);
	padding-bottom: calc(#{$space-tiny} * 2);
	background: darken($background-grey, 7%);
	p {
		padding-bottom: calc(#{$space-tiny} * 1);
		max-width: 86%;
		// @include break-point(tablet) {
		// 	// width:86%;
		// }
	}

	.gform_wrapper {
		// @extend %columns;
		// display: flex;
		// flex-direction: row;
		clear: both;
		width: 100%;
		margin-top: -0.5rem;
		// align-items: center;

		.gform_body {
			// margin-top: -3rem;
			margin-bottom: 1rem;
		}

		.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
		.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle,
		.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last {
		  padding-top: 0 !important;
		}

		.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
		.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
		  margin-bottom: 0 !important;
		}

		.gf_simple_horizontal_wrapper li.hidden_label input {
		  margin-top: 0 !important;
		}

		body .gf_simple_horizontal_wrapper .top_label div.ginput_container {
		  margin-top: 0 !important;
		}

		.gf_simple_horizontal div.gform_footer.top_label {
		  width: auto !important;
		  vertical-align: top !important;
		}

		.gf_simple_horizontal div.gform_body {
		  width: auto !important;
		}
		.gf_simple_horizontal_wrapper {
			display: none;
		}
		.ginput_container {
			width: 400px;
			input[type="text"]{
				width:100%;
			}
		}
		.ginput_container_select {
			width: 320px;

			.gfield_select {
				width: 200%;
				margin-top: 0.75rem !important;
				position: relative;
				padding: 0.575rem 1rem !important;
				background: $white url(/wp-content/themes/novapioneer/img/icons/drop-down-arrow.svg) no-repeat;
				background-size: 20px;
    		background-position: right 10px center;
				padding-left: 24px;
			}
		}
		//
		input[type="text"] {
			width: 100%;
			padding: 0.75rem 1rem !important;
		}

		.gform_footer {
		  // padding-top: 0;
			// margin-top: -2.85rem;
			input[type=submit] {
			//  float:right;
			//  position: relative;
			 margin-top: 0.85rem;
			//  margin-right: 23%;
			}
		}
		.button  {
			// @extend %column-2;
			// width:10%;
			@extend %text-align-center;
			@extend %text-transform-upper;
			@include copy(regular);
			@include line-height(1);
			// @include letter-spacing(small);
			@include border-radius(3px);
			@include box-shadow(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0));
			@include border(0, solid, transparent);
			@include outline(0, solid, transparent);
			color: $white;
			background: $blue-lt;
			$p: 12px;
			@include font-size(14px);
			@include letter-spacing(small);
			padding: $p calc(#{$p} * 1.25);
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			appearance: none;
			cursor: pointer;
			transition: $ease;

			&:hover {
				color: $white;
				background: $orange-lt;
			}
		}
		//
		ul.gform_fields {

			li{

				margin-left: 2rem !important;
				.gfield {


				}
			}
		}

	}
	// @extend %columns;
	// align-items: center;
	@include break-point(desktop) {
		padding-top: calc(#{$space-tiny} * 3);
		padding-bottom: calc(#{$space-tiny} * 3);
	}
		header {
			@extend %column-5;
				// padding-bottom: calc(#{$space-tiny} * 2);

			p {
				@include font-size(21px);
			}
		}
}
//meet the students form
.contact-student{
	.section-content-item-half {
		max-width:100%;

		padding: calc(#{$space-tiny} * 0.5) calc(#{$space-tiny} * 2);
		padding-left: 0;
		@include break-point(laptop) {
			max-width:30%;
		}
	}
	.gform_body {
		margin-top: -1rem;
		.gfield.gfield_html{
			margin-top: 2rem;
			&:first-of-type {
				margin-top: 0;
			}
		}

	}
	.gform_wrapper {
		margin-top: 0;
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			margin-top: 0;
			width: 180%;
			@include break-point(laptop) {
				max-width:100%;
			}
		}
		input[type="text"] {
			// width: 25% !important;
			// @extend %column-4;
			width: 100%;
			padding: 0.75rem 1rem !important;
		}
		select {
			// @extend %column-4;
			// width: 20% !important;
			width: 100%;
			padding: 0.5rem 1rem !important;
		}
		.medium {
			width: 180%;
			@include break-point(laptop) {
				max-width:100%;
			}
		}
		.button  {
			// @extend %column-2;
			width:10%;
			@extend %text-align-center;
			@extend %text-transform-upper;
			@include copy(regular);
			@include line-height(1);
			// @include letter-spacing(small);
			@include border-radius(3px);
			@include box-shadow(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0));
			@include border(0, solid, transparent);
			@include outline(0, solid, transparent);
			color: $white;
			background: $blue-lt;
			$p: 14px;
			@include font-size(14px);
			@include letter-spacing(small);
			padding: $p calc(#{$p} * 1.5);
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			appearance: none;
			cursor: pointer;
			transition: $ease;
			&:hover {
				color: $white;
				background: $orange-lt;
			}
		}
		.gform_footer {
			margin-top: 0;
			margin-left: -1.75rem;
		}
			@include break-point(tablet) {
				margin-top: 1rem;
				margin-left: -1rem;
			}

	}
}
