
/*  Button Order */
/* ==================================================== */


@mixin button-order($button-order) {
	/* Primary */
	@if $button-order == 'primary' {
		color: $white;
		background: $green-lt;
	}

	/* Primary alternative */
	@else if $button-order == 'primary-alt' {
		color: $green-lt;
		background: $white;
	}

	/* Secondary */
	@else if $button-order == 'secondary' {
		color: $white;
		background: $green-dk;
	}

	/* Secondary alternative */
	@else if $button-order == 'secondary-alt' {
		color: $green-lt;
		background: $white;
	}

	/* Disabled */
	@else if $button-order == 'disabled' {
		color: $grey-dk;
		background: $grey-dk;
		cursor: none;
	}
}


// div { @include button-order(primary); }


