
/*  Profiles */
/* ==================================================== */


.team-profile-container {
	width: 100%;
	padding-top: calc(#{$space-tiny} * 2);
	padding-bottom: 0;

	&:last-of-type {
		margin-top: 0;
		margin-bottom: 6rem;
	}
	 h2 {
		 display: block;
		 width: 100%;
		 text-align: center;
		 padding-bottom: calc(#{$space-tiny} * 2)

	 }
}


.profile {
	max-width: auto;
	text-align: center;
	margin-bottom: 3rem;

	&:not(:first-of-type) {
		margin-top: $gut;
	}

	&:last-child {
		margin-right: 0;
	}

	img {
		max-width: 360px;
		margin-top: unset;
		margin-right: auto;
		margin-bottom: 0.5rem;
		margin-left: auto;

	}
	.image-flip {
		img {
			&:first-child {
				display: inline;
			}
			&:last-child {
				display: none;
			}
		}
		&:hover {
			img {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline;
				}
			}
		}
	}
	&:first-of-type{
		// margin-top: 2rem;

	}
	@include break-point(tablet) {
		&:not(:first-of-type) {
			margin-top: 0;
		}

		&:nth-child(2n+3) {
            margin-left: 0;
        }

        &:nth-child(n+3) {
            margin-top: $gut;
        }
	}

	@include break-point(laptop) {
		&:first-of-type{
			margin-top: unset;
		}
	}


	@include break-point(laptop) {
		align-self: auto;

		&:nth-child(2n+3) {
            margin-left: $gut;
      }

        &:nth-of-type(n+3) {
			margin-top: 0;
		}

		// &:nth-child(4n+5) {
    //         margin-left: 0;
    //     }

        // &:nth-child(n+5) {
        //     margin-top: $gut;
        // }

		img {
			max-width: 196px;
		}
	}
}

.np-global-leaders-profiles {
	.image-flip {
		img {
			&:first-child {
				opacity: 1;
			}
			&:last-child {
				opacity: 0;
			}
		}
	}

}
.np-management-profiles {
	justify-content: flex-start;
	.profile {
		@include break-point(tablet) {
			&:nth-child(2n+3) {
	      margin-left: 0;
	    }
		}
		@include break-point(laptop) {
			&:nth-child(2n+3) {
	      margin-left: $gut;
	    }
			&:nth-child(4n+1) {
	      margin-left: 0;
	    }

		}
		// @media (min-width: 1024px) and (max-width: 1024px) {
		// 	&:nth-child(2n+3) {
		// 		margin-left: $gut;
		// 	}
		// }
		// @include break-point(desktop) {
		// 	&:nth-child(2n+3) {
	  //     margin-left: 0;
	  //   }
		// }
	}

}

.np-team-profiles {
	// .profile {
	// 	&:first-of-type {
	// 		margin-left: 0;
	// 	}
	// 	@include break-point(tablet) {
	// 		&:first-of-type {
	// 			margin-left: 0;
	// 		}
	// 	}
	// 	@include break-point(laptop) {
	// 		&:first-of-type {
	// 			margin-left:3rem;
	// 		}
	// 	}
	// 	@include break-point(monitor) {
	// 		&:first-of-type {
	// 			margin-left:3rem;
	// 		}
	// 	}
	// }
}

.profile-school {
	@include break-point(tablet) {
		&:not(:first-of-type) {
			margin-top: calc(#{$gut} / 3);
			margin-left: 0;
		}

	    &:nth-child(n+3) {
	        // margin-left: $gut;
	    }
	}

	@include break-point(laptop) {
		&:not(:first-of-type) {
			// margin-left: $gut;
		}

	    &:nth-child(n+3) {
	        // background: yellow;
	    }
	}
}

.profile-img {
	// margin-top: 4rem;
	margin-bottom: 1rem;

	@include break-point(laptop) {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	@include break-point(desktop) {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
}

.profile-name {
	text-align: center;
	color: $blue;
	margin: 0;
	padding: calc(#{$space-tiny} * 0.25) 0 calc(#{$space-tiny} * 0.35) 0;
	line-height: 1;
	display: block;
}

.profile-role {
  text-align: center;
	color: $dark-grey;
	margin: 0.25rem 0 0;
	padding: 0;
	align-self: auto;
	@include break-point(laptop) {
		align-self: center;
	}
	@include break-point(desktop) {
		padding: 0 calc(#{$space-tiny} * 0.25) calc(#{$space-tiny} * 0.5) 0;
	}
}

.profile-description {
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;


	p {
		@include font-size(16px);
		padding: 0 0 calc(#{$space-tiny} * 0.75) 0;
		max-width: 600px;
		margin: 0 auto;
		text-align: left;
		line-height: 1.5;
		@include break-point(laptop) {
			padding: 0 calc(#{$space-tiny} * 1.25) calc(#{$space-tiny} * 0.75) calc(#{$space-tiny} * 1.25);
		}
	}

	@include break-point(laptop) {
		max-width: unset;
		margin-right: unset;
		margin-left: unset;
	}
}
