

// .faqs-accordion{
//     margin:0 auto;
//     background-color: $white;
// }
// .faqs-accordion label.faqs-label{
//     display: block;
//     color: $blue;
//     @include font-size(24px);
//     line-height: 1.5;
//     @include copy(regular);
//     cursor: pointer;
//     text-transform: none;

// }
// .faqs-accordion > ul{
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }
// .faqs-accordion > ul li {
//     overflow: hidden;
//     margin: 0 0 1px;
// }
// .faqs-accordion > ul li label.faqs-label {
//     padding: 0.5rem 0 0 0;
// }
// .faqs-accordion > ul li label.faqs-label:hover {
   
// }
// .faqs-accordion [type="radio"].faqs-radio, .faqs-accordion [type="checkbox"].faqs-checkbox {
//     display: none;
// }
// .faqs-accordion > ul li label.faqs-label:hover, .faqs-accordion [type="radio"].faqs-radio:checked ~ label.faqs-label, .faqs-accordion [type="checkbox"].faqs-checkbox:checked ~ label.faqs-label {
//     color: $green-blue;
   
// }
// .faqs-accordion > ul li label.faqs-label:hover {
//     color: $dark-blue;
// }
// .faqs-accordion [type="radio"].faqs-radio:checked ~ label.faqs-label, .faqs-accordion [type="checkbox"].faqs-checkbox:checked ~ label.faqs-label {
//     border-bottom: 0;
// }
// .faqs-accordion > ul li .faqs-content {
//     height: 0;
//     border-top: 0;
//     border-top: 1px solid $background-grey;
//     transition: all .3s ease-out;
// }
// .faqs-accordion [type="checkbox"].faqs-checkbox:checked ~ label.faqs-label ~ .faqs-content, .faqs-accordion [type="radio"].faqs-radio:checked ~ label.faqs-label ~ .faqs-content{
//     height: 170px;
//     border-top: 1px solid $grey;
//     overflow: visible;
    
//     p {
//         @include font-size(18px);
//         padding: calc(#{$space-tiny} * 1);
//         padding-bottom: calc(#{$space-tiny} * 3);
//     }
// }




ul.toggle-list {
    .general-content & {
        margin-bottom: 0;
    }
}

ul.toggle-list li {
    width: 100%;
    margin: 0;
    padding: 1.25rem 0;
    cursor: pointer;

    .general-content & {
        margin-bottom: 0;
    }

    &:first-of-type {
        padding-top: 0;
    }

    &:not(:first-of-type) {
        border-top: 1px solid darken($grey, 2.5%);
    }

    &:last-child {
        .general-content & {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &:before {
        content: "";
        padding: unset;
    }
}

.toggle-list-title {
    li:hover & {
        color: $green-blue;
    }

    li.faq:hover & {
        color: $green-blue;
    }

    .show & {
        color: $green-blue;
    }
}

// .toggle-list-icon {
//     text-align: center;
//     position: relative;
//     margin-right: 0.5rem;
//     // color: $mid;
//     top: 4px;

//     li.faq:hover & {
//         // color: $orange;
//     }

//     li:hover & {
//         // color: $orange;
//     }
// }

.toggle-list-content {
    display: none;
    margin-top: 1rem;

    .show & {
        display: block;
    }
}

