
/* Embeds */
/* ==================================================== */


%media-container {
	position: relative;
	// margin-bottom: 24px;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	& > * { // iframe, object, embed, video, audio, etc
	    position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// div { @extend %media-container; }



.media {
	@extend %media-container;
	&.youtube-video {
		padding-top: 0px;
	}
	&.gallery{
		padding-top: 0px;

		@extend %columns;
		@extend %column-8;
	}
}

.image-slider-container {
	//max-height: 575px;
	clear: both;
  	padding-top: calc(1rem * 4);
	padding-bottom: 0;
	@extend %columns;
	@extend %column-12;
	//margin-bottom: 1rem;
	//background: yellow;

	.section-navigation {
		@extend %column-2;
		background: $dark-blue;
		padding-top: calc(1rem * 1);
		padding-left: calc(1rem * 4);
		height: 88.85%;
		min-width: 20%;

		.gallery-nav{
			@include font-size(16px);
		}
		//max-height: 597.5px;
	}

	.section-content{
		border-left: none;
	}
}

.image-slider-container-alt {
	clear: both;
  	padding-top: calc(1rem * 4);

	.section-content {
		border-left: none;
	}

	.section-navigation {
		background: transparent;
		
		.gallery-nav{
			@include font-size(16px);
		}
	}
}


/* Video */

#video-container {
	width: auto;
	// max-height: 620px;
	max-height: 100vh;
	overflow: hidden;

	video {
		width: 100%;
		height: auto;
	}

	#mute {
		zoom: 1;
		filter: alpha(opacity=45);
		-webkit-opacity: 0.45;
		-moz-opacity: 0.45;
		-o-opacity: 0.45;
		opacity: 0.45;
	}
}

/* webkit specific CSS */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #video-container {
		max-height: 620px;
	}
}



#video-container:hover #mute {
	filter: alpha(opacity=100);
	-webkit-opacity: 0.45;
	-moz-opacity: 0.45;
	-o-opacity: 0.45;
	opacity: 1;
}
