
/*  Icons */
/* ==================================================== */


.select-country {
	@include font-size(13px);
	@include line-height(1);
	@include flexbox();
	// @include flex-wrap(nowrap);
    @include flex-direction(row);
    align-self: center;
    position: relative;
    min-width: 100px;
	// margin-left: auto;
	margin-left: 2rem;
	color: $white;
	background: transparent;
	cursor: pointer;

	// .modal & {
	//     @include flex-order(2);
	//     margin: 0 auto calc(#{$space-tiny} * 0.5);
	// }
}

.select-countries {
	display: none;
	position: absolute;
	top: 35px;
	width: 100%;
	padding: calc(#{$space-tiny} * 0.25) 0 calc(#{$space-tiny} * 0.5);
	transition: $ease;
	background: $blue;

	&.show {
		display: block;
		background: $blue-lt;
	}
}

.country {
	display: block;
	padding: 0;
	color: $grey-mdk;

	// &.country-select-toggle {
	// 	padding-top: calc(#{$space-tiny} * 0.5);
	// }

	&:not(:first-of-type) {
		margin-left: 1.25rem;
	}

	&:hover {
		color: $blue-lt;

		.select-countries & {
			color: $grey;
		}
	}
}
