
/*  Modal */
/* ==================================================== */


.modal {
    @include flexbox();
    position: fixed;
    width: 100vw;
    height: 0vh;
    padding: 0;
    background: transparent;
    transition: $ease;
    opacity: 0;

    form {
        display: none;
    }

    &.show {
        // width: 100vw;
        height: 100vh;
        padding: calc(#{$space-tiny} * 4);
        background: $blue-dk;
        opacity: 1;
        z-index: 10;

        form {
            display: block;
        }
    }
}

.modal-control {
    display: none;
    width: 0;
    cursor: pointer;
    z-index: 9;

    &.open {
        bottom: calc(#{$space-tiny} * 5);
        left: calc(#{$space-tiny} * 1);

        path {
            fill: $white;
        }
    }

    &.close {
        top: calc(#{$space-tiny} * 1.5);
        right: calc(#{$space-tiny} * 1.5);

        path {
            fill: $white;
        }
    }

    &.show {
        position: fixed;
        display: block;
        width: calc(#{$space-tiny} * 2);
    }
}


