.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  // z-index: 1;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  margin-top: 1rem;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  // padding: 0 .5em;
  margin-top: 1rem;
  // z-index: 2;
  // color: lighten($blue, 20%);
  //font-size: .9em;
  // @include font-size(16px);
  // line-height: 2;
  // border: 1px solid $background-grey;
  &:hover{
    // color: $blue;
  }
}
