
.school-team-profile-container {
	width: 100%;
	margin-bottom: 2rem;

	h2 {
		color: $grey-dk;
	}

	 &.top-level-team{
	 	padding-top: 8rem;
	 	.member-profile {
			width: 30%;
		}
	 }
	 &.second-level-team {
	 	margin-top: -2.5rem;
		 .member-profile {
			width: 25%;
		}
	 }
}

.letter-from-principal{
	// width: 70%;
	// border-left: 1px $grey-lt solid;
	// padding-right: calc(#{$space-tiny} * 4.5);
	// padding-left: calc(#{$space-tiny} * 4.5);
	// margin-bottom: 2rem;
	max-width: 768px;

	h1 {
		// text-shadow: none;
		max-width: 100%;
		// color: $blue-dk;
	 	margin-bottom: 1.25rem;
	}

	p {
	 	@include font-size(20px);
	 	line-height: 1.65;
	 	
	 }
}