
/* Campaign Page */
/* ==================================================== */


.campaign-hero {
	height: 90vh;
	color: white;

}

.campaign-hero .container {
	width: 100%;
	// background-image: url('../img/bg.png');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
}

.campaign-hero .container .intro {
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    justify-content: flex-end;
	width: 45%;
    height: 100%;
	margin: 0;
	padding: calc(#{$space-tiny} * 2) calc(#{$space-tiny} * 4) calc(#{$space-tiny} * 4);
    // top: unset;
	// right: unset;
    // bottom: unset;
    // left: unset;
	// background: rgba(255, 0, 0, 0.2);

	// width: 50%;
    // background: #f00;
    // display: flex;
    // height: 100%;
    // flex-wrap: nowrap;
    // flex-direction: column;
    
    // padding: 3rem;
    // margin: 0;

	a.header-logo {
		align-self: flex-start;
		max-width: 400px;
		max-height: unset;
	    margin-bottom: auto;
	}

	svg {
		width: 100%;
		height: auto;

		.logo-text * {
			fill: $white;
		}
	}
            
    h1 {
    	margin: 0 0 1rem;
		line-height: 1;
		text-shadow: none;
		color: $orange-lt;
	}

	p {
		display: block;
		margin-top: 1.5rem;
		font-size: 1.5rem;
		text-shadow: none;
		text-indent: 8px;
		color: $white;

		// &:before {
		// 	content: '';
		// 	position: relative;
		// 	top: -2px;
    	// 	left: -8px;
		// 	display: inline-block;
		// 	width: 12px;
		// 	height: 12px;
		// 	font-size: 1rem;
		// 	background: $green-lt;
    	// 	border-radius: 50%;
		// }
	}

	.feature-icon {
		&:before {
			content: "\00a0";
		}
		&.boys-school-icon {
			background-image: url(../../img/icons/boys-school-campaign-icon.svg);
		}
		&.curriculum-icon {
			background-image: url(../../img/icons/curriculum-campaign-icon.svg);
		}
		&.Boarding-icon {
			background-image: url(../../img/icons/boarding-campaign-icon.svg);
		}
		&.Day-icon {
			background-image: url(../../img/icons/day-campaign-icon.svg);
		}
		&.grade-icon {
			background-image: url(../../img/icons/grade-campaign-icon.svg);
		}
	}

	.campaign-school-apply {
		margin-right: auto;
		background: $green-lt;
	}
}





.section-campaign-main {
	* {
		box-sizing: border-box;
	}

	article {
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(wrap);
	}
}

.campaign-lead {
	@include flexbox();
    @include flex-direction(column);
    @include flex-wrap(wrap);
	// width: 42.5%;
	// padding: 0 7.5% 0 0;
	// padding: 0 0 0 7.5%;
	width: 30%;
	margin-left: auto;
	padding: 0;

	fieldset {
		
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	textarea,
	select {
		// @include font-size(16px);
		// @include letter-spacing(tiny);
		// position: relative;
		// //display: block;
		// width: 100%;
		// padding: 0.75rem 1rem;
		// //color: $grey;
		// background: $white;
		// appearance: none;
		// border: 0 none;
		// outline: 0 none;
		// border: 1px solid $sky;
		// border-radius: 2px;

		&:hover {
			color: $sky;
			border: 1px solid $green-dk;
		}

		&:focus {
			color: $blue;
			border: 1px solid $blue-dk;
		}

		&::placeholder {
			color: $grey-lt;
			opacity: 1;
		}

		&::-webkit-input-placeholder {
			color: $grey-lt;
			opacity: 1;
		}
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1rem;
		font-weight: 300;
		color: #888;
	}

	.form-text {

	}

	.button.button-campaign {

	}
}


.campaign-school {
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	align-items: flex-start;
	width: 65%;
	margin-right: auto;
	// padding: 0 2.5rem 0 0;
	padding: 0;

	* + * {
		margin-top: 1rem;
		line-height: 1.35;
	}
}

.campaign-school-map {
	width: 45%;
	height: 100%;
	margin-right: 2rem;
}

h2.campaign-school-name {

}

h3.campaign-school-location {
	text-transform: uppercase;
	color: $orange-lt;
}

.campaign-school-description p {
	font-size: 1rem;
    font-weight: 300;
    color: #888;
}

.campaign-school-fees {
	font-size: 1.125rem;
    font-weight: 300;
    color: #888;

	.term-1 {
		font-weight: 700;
		text-transform: uppercase;
		color: #787878;
	}
}

.campaign-school-link {
	display: inline-block;
	font-weight: 700;

	// &:not(:first-of-type) {
	// 	margin-left: 2rem;
	// }

	&.campaign-school-link-admissions {
		margin-left: 2rem;
	}

	&.campaign-school-link-fees {
		margin-top: 1rem;
	}
}

.campaign-school-apply {
	margin-top: 2rem;
}

.campaign-contacts {
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	// justify-content: space-between;
	// margin-top: 3rem;
    // padding: 0.75rem 1.5rem;
	// background: #f9f9f9;
	// background: $blue-dk;
}

.contact-header {
	width: 30%;
	padding: 2rem 0 2rem 4rem;
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	color: $blue-dk;
	background: $orange-lt;
}

.campaign-contacts-proper {
	width: 70%;
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	justify-content: flex-start;
	align-items: center;
	// margin-top: 3rem;
    padding: 2rem 4rem 2rem 3rem;
	// background: #f9f9f9;
	background: $blue-dk;
}

.contact {
	margin-top: 0;
	line-height: 1;
	// color: $blue-dk;
	color: $blue-lt;

	a {
		font-size: 1rem;
		line-height: 1;
		font-weight: 300;
		color: $blue-lt;
		// color: $white;
		color: $orange-lt;
	}

	&:not(:first-of-type) {
		margin-left: 2.5rem;
	}
}




.section-campaign-footer {
	article {
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(wrap);
	}

	.campaign-contacts {
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(wrap);
	}

	.contact {

	}

	.footer-logo {

	}
}


