
/* NP Brand Colours */
/* ==================================================== */


$blue: rgba(19, 59, 85, 1.0000);

$dark-blue: rgba(7, 33, 52, 1.0000);

$green-blue: rgba(90, 168, 165, 1.0000);

$green-blue-light: rgba(109, 200, 193, 1.0000);

$light-grey: rgba(149, 149, 149, 1.0000);

$grey: rgba(239, 241, 240, 1.0000);

$dark-grey: rgba(93, 93, 93, 1.0000);

$white: rgba(255, 255, 255, 1.0000);

$black: rgba(0, 0, 0, 1.0000);

$background-grey: rgba(225, 225, 225, 1.0000);

// $background-grey: rgba(221, 221, 221, 1.0000);

$flare: red;

$sky: rgba(53, 126, 174, 1.0000);

$sky-light: lighten($sky, 15%);
