
/* Root font size */
/* ==================================================== */


@function rem-size($size) {
	$remSize: $size / 16px; // $size / 16px
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: rem-size($size);
}

// Usage:
// div { @include font-size(23px); }
